<ng-container *ngIf="radiogram$ | async as radiogram">
    <h5>Anfrage von Ressourcen</h5>

    <ng-container
        *ngIf="
            (radiogram.requiredResource | keys).length > 0;
            else noResourcesRequired
        "
    >
        <table class="table card-text">
            <thead>
                <tr>
                    <th class="w-75">Kategorie</th>
                    <th class="w-25">Anzahl</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let vehicleType of radiogram.requiredResource
                            .vehicleCounts | keys
                    "
                >
                    <td>{{ vehicleType }}</td>
                    <td>
                        {{
                            radiogram.requiredResource.vehicleCounts[
                                vehicleType
                            ]
                        }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex row my-1">
            <ng-container *ngIf="showAnswer$ | async; else actionButtons">
                <p class="card-text">
                    <ng-container
                        *ngIf="
                            radiogram.resourcesPromised !== undefined;
                            else noAnswer
                        "
                    >
                        Die Resource wurde
                        <ng-container *ngIf="!radiogram.resourcesPromised">
                            nicht
                        </ng-container>
                        zugesagt.
                    </ng-container>
                    <ng-template #noAnswer>
                        Es ist keine Antwort zu dieser Anfrage bekannt
                    </ng-template>
                </p>
            </ng-container>
            <ng-template #actionButtons>
                <ng-container
                    *ngIf="{
                        value: enableActionButtons$ | async
                    } as enableActionButtons"
                >
                    <button
                        type="button"
                        [disabled]="!enableActionButtons.value"
                        (click)="denyRequest()"
                        class="btn btn-danger col-sm mx-1"
                    >
                        Ablehnen
                    </button>
                    <button
                        type="button"
                        [disabled]="!enableActionButtons.value"
                        (click)="acceptRequest()"
                        class="btn btn-success col-sm mx-1"
                    >
                        Akzeptieren
                    </button>
                </ng-container>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #noResourcesRequired>
        <p class="card-text">Es werden keine Ressourcen benötigt.</p>
    </ng-template>
</ng-container>
