<div class="d-flex flex-row align-items-center gap-3">
    @let isPersonalOrganisationMember =
        member().personalOrganisationOf === ownUserId();
    <span>
        @if (member().personalOrganisationOf) {
            {{ member().personalOrganisationOfName }}
            @if (isPersonalOrganisationMember) {
                <span class="badge text-bg-primary text-white ms-1">
                    <i class="bi bi-person me-1"></i>
                    Das sind Sie
                </span>
            }
        } @else {
            {{ member().name }}
        }
        @if (member().isOwner) {
            <span class="badge text-bg-info ms-1">Besitzer</span>
        } @else {
            <span class="badge text-bg-secondary ms-1">Betrachter</span>
        }
    </span>
    @if (!member().isOwner) {
        <button
            class="btn btn-outline-info btn-sm ms-auto"
            (click)="setCollectionOwner(member().id, member().name)"
        >
            <i class="bi bi-sign-turn-slight-right me-1"></i>
            Als Besitzer festlegen
        </button>
        <button
            class="btn btn-outline-danger btn-sm"
            (click)="removeCollectionMember(member().id, member().name)"
        >
            <i class="bi bi-ban me-1"></i>
            Entfernen
        </button>
    }
</div>
