<div class="modal-header">
    <h4 class="modal-title">Auswertung</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div ngbDropdown>
        <button
            class="btn btn-outline-primary"
            title="Bereich für Statistik auswählen"
            ngbDropdownToggle
        >
            <app-viewport-name
                *ngIf="
                    areaStatisticsService.areaId$ | async as areaId;
                    else noArea
                "
                [viewportId]="areaId"
            ></app-viewport-name>
            <ng-template #noArea> Gesamt </ng-template>
        </button>
        <div ngbDropdownMenu>
            <button
                ngbDropdownItem
                (click)="areaStatisticsService.setAreaId(null)"
            >
                Gesamt
            </button>
            <button
                *ngFor="let viewport of viewports$ | async | keyvalue"
                ngbDropdownItem
                (click)="areaStatisticsService.setAreaId(viewport.key)"
            >
                <app-viewport-name
                    [viewportId]="viewport.key"
                ></app-viewport-name>
            </button>
        </div>
    </div>
    <br />
    <app-patient-statistics></app-patient-statistics>
    <br />
    <app-vehicle-statistics></app-vehicle-statistics>
</div>
