<div class="modal-header">
    <h4 class="modal-title">Statistiken</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <nav #nav="ngbNav" ngbNav class="nav-tabs">
        <ng-container ngbNavItem="areas">
            <a ngbNavLink>Einsatzbereiche</a>
            <ng-template ngbNavContent>
                <div
                    ngbDropdown
                    class="d-inline-block"
                    *ngIf="areaStatisticsService.areaSpec$ | async as areaSpec"
                >
                    <button
                        class="btn btn-outline-primary me-3"
                        title="Bereich für Statistik auswählen"
                        ngbDropdownToggle
                    >
                        <ng-container [ngSwitch]="areaSpec.type">
                            <app-viewport-name
                                *ngSwitchCase="'viewport'"
                                [viewportId]="$any(areaSpec).id"
                            ></app-viewport-name>
                            <app-simulated-region-name
                                *ngSwitchCase="'simulatedRegion'"
                                [simulatedRegionId]="$any(areaSpec).id"
                            ></app-simulated-region-name>
                            <ng-container *ngSwitchCase="'all'">
                                Gesamt
                            </ng-container>
                        </ng-container>
                    </button>
                    <div ngbDropdownMenu>
                        <button
                            ngbDropdownItem
                            (click)="
                                areaStatisticsService.setArea({ type: 'all' })
                            "
                        >
                            Gesamt
                        </button>
                        <button
                            *ngFor="let viewportId of viewportIds$ | async"
                            ngbDropdownItem
                            (click)="
                                areaStatisticsService.setArea({
                                    type: 'viewport',
                                    id: viewportId
                                })
                            "
                        >
                            <app-viewport-name
                                [viewportId]="viewportId"
                            ></app-viewport-name>
                        </button>
                        <button
                            *ngFor="let simRegId of simRegIds$ | async"
                            ngbDropdownItem
                            (click)="
                                areaStatisticsService.setArea({
                                    type: 'simulatedRegion',
                                    id: simRegId
                                })
                            "
                        >
                            <app-simulated-region-name
                                [simulatedRegionId]="simRegId"
                            ></app-simulated-region-name>
                        </button>
                    </div>
                </div>
                <button
                    class="btn btn-sm btn-primary"
                    (click)="statisticsService.updateStatistics()"
                    [disabled]="statisticsService.updatingStatistics"
                >
                    <span
                        *ngIf="statisticsService.updatingStatistics"
                        class="spinner-border spinner-border-sm"
                    ></span>
                    Aktualisieren
                </button>

                <br />
                <br />
                <h3>Patienten</h3>
                <app-stacked-bar-chart
                    *ngIf="patientsStatistics$ | async as statistics"
                    [statistics]="statistics"
                ></app-stacked-bar-chart>
                <br />
                <h3>Fahrzeuge</h3>
                <app-stacked-bar-chart
                    *ngIf="vehiclesStatistics$ | async as statistics"
                    [statistics]="statistics"
                ></app-stacked-bar-chart>
                <br />
                <h3>
                    Einsatzkräfte
                    <small class="text-muted"
                        >(weder im Transfer noch im Fahrzeug)</small
                    >
                </h3>
                <app-stacked-bar-chart
                    *ngIf="personnelStatistics$ | async as statistics"
                    [statistics]="statistics"
                ></app-stacked-bar-chart>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="hospitals">
            <a ngbNavLink>Krankenhäuser</a>
            <ng-template ngbNavContent>
                <h3>Krankenhäuser</h3>
                <app-hospital-patients-table></app-hospital-patients-table>
            </ng-template>
        </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
