<h3>Übersicht</h3>

<p *ngIf="((regions$ | async)?.length ?? 0) === 0" class="text-muted">
    Aktuell gibt es noch keine simulierten Bereiche in dieser Übung. Bitte
    warten Sie, bis die Übungsleitung die Übung fertig konfiguriert hat.
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name des Bereichs</th>
            <th scope="col">Führungskraft</th>
            <th scope="col">Führungsfahrzeug</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let region of regions$ | async">
            <td>{{ region.name }}</td>
            <ng-container *ngIf="region.hasLeader; else noLeader">
                <td>{{ region.leaderName }}</td>
                <td>{{ region.leaderVehicleName }}</td>
            </ng-container>
            <ng-template #noLeader>
                <td colspan="2">
                    <em class="text-muted"
                        >Keine Führungskraft in diesem Bereich</em
                    >
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
