<div
    class="card mb-3"
    [ngClass]="(status$ | async) === 'ownAccepted' ? 'border-success' : ''"
>
    <h6 class="card-header">
        {{ (simulatedRegion$ | async)?.name ?? 'Gelöschter Bereich' }}
    </h6>
    <div class="card-body">
        <app-radiogram-card-content
            *ngIf="radiogram$ | async"
            [radiogram]="(radiogram$ | async)!"
        ></app-radiogram-card-content>
    </div>
    <div class="card-footer">
        <ng-container [ngSwitch]="status$ | async">
            <ng-container *ngSwitchCase="'unread'">
                <span>Bereit zur Durchsage</span>
                <button class="btn btn-primary float-end" (click)="accept()">
                    Durchsagen
                </button>
            </ng-container>
            <ng-container *ngSwitchCase="'ownAccepted'">
                <span class="text-success"
                    >Wird von <span class="fw-semibold">Ihnen</span> durchgesagt
                    <button
                        class="btn btn-success float-end"
                        (click)="markAsDone()"
                    >
                        Fertig
                    </button></span
                >
            </ng-container>
            <ng-container *ngSwitchCase="'otherAccepted'">
                <span class="card-text">
                    Wird von
                    <span class="fw-semibold">{{
                        (acceptingClient$ | async)?.name
                    }}</span>
                    durchgesagt
                    <button
                        class="btn btn-secondary float-end"
                        (click)="accept()"
                    >
                        Übernehmen
                    </button>
                </span>
            </ng-container>
            <ng-container *ngSwitchCase="'done'">
                <span>Wurde bereits durchgesagt</span>
            </ng-container>
        </ng-container>
    </div>
</div>
