<div class="modal-header">
    <h4 class="modal-title">Leitstelle</h4>
    <button
        type="button"
        class="btn-close"
        data-cy="closeEmergencyOperationsCenterPopupButton"
        (click)="close()"
    ></button>
</div>
<div class="modal-body" style="min-height: 60vh">
    <div class="card">
        <h5 class="card-header">Alarmieren</h5>
        <div class="card-body">
            <app-send-alarm-group-interface />
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header">Einsatztagebuch</h5>
        <div class="card-body">
            <app-eoc-log-interface />
        </div>
    </div>
</div>
