/node_modules
/dist

/.angular
/coverage

# cypress
/cypress/screenshots
/cypress/videos
/cypress/downloads
/cypress-visual-screenshots/comparison
/cypress-visual-screenshots/diff

# mitigate accidental commit of files in source-code
src/assets/source-code/*
