# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# misc
/.angular/*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# cypress
/cypress/screenshots
/cypress/videos
/cypress/downloads
/cypress-visual-screenshots/comparison
/cypress-visual-screenshots/diff

# System Files
.DS_Store
Thumbs.db
