<div class="modal-header">
    <h4 class="modal-title">Automatischen Bericht bearbeiten</h4>
    <button
        type="button"
        class="btn-close"
        (click)="close()"
        data-cy="hospitalClosePopupButton"
    ></button>
</div>
<div class="modal-body" *ngIf="reportBehaviorId; else noReports">
    <h5>{{ humanReadableReportType }}</h5>

    <form (ngSubmit)="submit()">
        <div class="form-check form-switch">
            <input
                class="form-check-input no-validation"
                type="checkbox"
                role="switch"
                name="reportsEnabled"
                [(ngModel)]="reportsEnabled"
                [appAutofocus]="true"
                tabindex="1"
            />
            <label>Automatisch in regelmäßigen Zeitabständen berichten</label>
        </div>

        <div class="input-group mt-2">
            <label class="input-group-text">Berichte alle</label>
            <input
                class="form-control no-validation"
                type="text"
                [disabled]="!reportsEnabled"
                name="reportInterval"
                [ngModel]="reportInterval / 60 / 1000"
                (ngModelChange)="updateInterval($event)"
                tabindex="2"
            />
            <label class="input-group-text">Minuten</label>
        </div>

        <button class="btn btn-primary w-100 mt-2" tabindex="3">
            Speichern
            <app-hotkey-indicator keys="Enter" />
        </button>
    </form>
</div>
<ng-template #noReports>
    <div class="modal-body">
        <span class="text-danger">
            Der gewünschte simulierte Bereich kann keine Berichte erstellen.
        </span>
    </div>
</ng-template>
<div class="modal-footer text-muted">
    <small>
        <app-hotkey-indicator keys="Leertaste" />: Aktuelles Steuerelement
        an-/ausschalten
        <br />
        <app-hotkey-indicator keys="Tab" />: Nächstes Steuerelement auswählen
        <br />
        <app-hotkey-indicator keys="Esc" />: Abbrechen und schließen
    </small>
</div>
