<div class="container">
    <br />
    <div
        *ngIf="
            (apiService.hasJoinedExerciseState$ | async) !== 'joined';
            else joinedTemplate
        "
    >
        <p>
            Exercise Id:
            <input [(ngModel)]="exerciseId" type="text" id="exerciseId" />
        </p>
        <br />
        <p>
            Public Name:
            <input [(ngModel)]="clientName" type="text" id="publicName" />
        </p>
        <p>
            Be a trainer?
            <input [(ngModel)]="isTrainer" type="checkbox" id="isTrainer" />
        </p>
        <button (click)="joinExercise()" class="btn btn-primary" id="join">
            Join Exercise
        </button>
        <br />
        <button (click)="createExercise()" class="btn btn-primary" id="create">
            Create Exercise
        </button>
    </div>

    <ng-template #joinedTemplate>
        <div>
            <app-patients-list></app-patients-list>

            <button (click)="addPatient()" class="btn btn-primary" id="addPatient">
                Add Patient
            </button>
        </div>
    </ng-template>
    <button
        (click)="keepAddingPatients = !keepAddingPatients"
        class="btn btn-primary"
        id="toggleAddPatients"
    >
        Toggle adding patients
    </button>
</div>
