<div class="container-fluid">
    <br />
    <div
        *ngIf="
            (apiService.hasJoinedExerciseState$ | async) !== 'joined';
            else joinedTemplate
        "
    >
        <div>
            <div class="form-group">
                <label class="form-label">Public Name:</label>
                <input
                    class="form-control"
                    [(ngModel)]="clientName"
                    type="text"
                    id="publicName"
                />
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    [(ngModel)]="isTrainer"
                    type="checkbox"
                    id="isTrainer"
                />
                <label class="form-check-label"> Be a trainer? </label>
            </div>
            <button
                (click)="createExercise()"
                class="btn btn-primary me-3"
                id="create"
            >
                Create Exercise
            </button>
        </div>
        <br />
        <div>
            <div class="form-group">
                <label class="form-label">Exercise Id:</label>
                <input
                    class="form-control"
                    [(ngModel)]="exerciseId"
                    type="text"
                    id="exerciseId"
                />
            </div>
            <button (click)="joinExercise()" class="btn btn-primary" id="join">
                Join Exercise
            </button>
        </div>
    </div>

    <ng-template #joinedTemplate>
        <div>
            <app-exercise-map></app-exercise-map>

            <button
                (click)="addPatient()"
                class="btn btn-primary"
                id="addPatient"
            >
                Add Patient
            </button>
            <button
                (click)="addMultiple(20, 'addPatient')"
                class="btn btn-primary"
            >
                Add 20 Patients
            </button>
            {{ numberOfPatients$ | async }}
            <button (click)="addVehicle()" class="btn btn-primary">
                Add Vehicle
            </button>
            <button
                (click)="addMultiple(20, 'addVehicle')"
                class="btn btn-primary"
            >
                Add 20 Vehicles
            </button>
            {{ numberOfVehicles$ | async }}
            <button (click)="addPersonell()" class="btn btn-primary">
                Add Personell
            </button>
            <button
                (click)="addMultiple(20, 'addPersonell')"
                class="btn btn-primary"
            >
                Add 20 Personell
            </button>
            {{ numberOfPersonell$ | async }}
            <button (click)="addMaterial()" class="btn btn-primary">
                Add Material
            </button>
            <button
                (click)="addMultiple(20, 'addMaterial')"
                class="btn btn-primary"
            >
                Add 20 Materials (optimistic)
            </button>
            {{ numberOfMaterials$ | async }}
        </div>
    </ng-template>
</div>
