<div class="container">
    <br />
    <div
        *ngIf="
            (apiService.hasJoinedExerciseState$ | async) !== 'joined';
            else joinedTemplate
        "
    >
        <p>
            Exercise Id:
            <input [(ngModel)]="exerciseId" type="text" />
        </p>
        <br />
        <p>
            Public Name:
            <input [(ngModel)]="clientName" type="text" />
        </p>
        <p>
            Be a trainer?
            <input [(ngModel)]="beTrainer" type="checkbox" />
        </p>
        <button (click)="joinExercise()" class="btn btn-primary">
            Join Exercise
        </button>
    </div>

    <ng-template #joinedTemplate>
        <div>
            <app-patients-list></app-patients-list>

            <button (click)="addPatient()" class="btn btn-primary">
                Add Patient
            </button>
        </div>
    </ng-template>
    <button
        (click)="keepAddingPatients = !keepAddingPatients"
        class="btn btn-primary"
    >
        Toggle adding patients
    </button>
</div>
