# There can only be one .dockerignore file in the root
# So here are all ignores, including those of the subdirectories

## Root

# Ignore everything from .gitignore
**/node_modules/
**/dist/

# jest
**/coverage

# Ignore test files
**/test
**/*.spec*
.eslint
.prettierrc

## Backend

backend/.env

## Shared

shared/tsconfig.build.tsbuildinfo

## Frontend

frontend/.angular
frontend/cypress*

## VSCode

.vscode

## more unnecessary for production, not needed inside the docker container

docker-compose.yml
**/README.md

