# Line-endings behavior
* text=auto
# docker-entrypoint.sh needs LF (see https://github.com/hpi-sam/digital-fuesim-manv/issues/479)
docker/docker-entrypoint.sh eol=lf

# Git lfs
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text

# Exclude necessary files for cypress
frontend/src/assets/gwSan-vehicle.png filter= diff= merge= -text
frontend/src/assets/ktw-vehicle.png filter= diff= merge= -text
frontend/src/assets/nef-vehicle.png filter= diff= merge= -text
frontend/src/assets/rtw-vehicle.png filter= diff= merge= -text
