node_modules/
dist/

# jest
/coverage

.env
.prettierignore-ci

# TODO: These are currently duplicated as a workaround for https://github.com/hpi-sam/digital-fuesim-manv/issues/36
# cypress
frontend/cypress/screenshots
frontend/cypress/videos
frontend/cypress/downloads
frontend/cypress-visual-screenshots/comparison
frontend/cypress-visual-screenshots/diff
frontend/.angular
frontend/coverage

backend/coverage

shared/coverage
shared/tsconfig.build.tsbuildinfo

benchmark/data/*
!benchmark/data/*.permanent.json

.vscode/*
!.vscode/*.example
!.vscode/extensions.json
