version: '3'
services:
    digital-fuesim-manv:
        depends_on:
            - db
        image: digitalfuesimmanv/dfm
        # Use this to build the container for yourself:
        #build:
        #    context: .
        #    dockerfile: docker/Dockerfile
        restart: unless-stopped
        container_name: digital-fuesim-manv
        ports:
            - 80:80
        # uncomment port 443 if HTTPS is used
        #    - 443:443
        env_file:
            - .env
        volumes:
            - dfm-data:/${DFM_PERSISTENT_DATA_PATH}
            # To overwrite the contents of the about pages, mount a directory into the container
            # The directory can contain imprint.html, privacy.html and license.html
            # Example
            # - ./about:/usr/local/app/frontend/dist/digital-fuesim-manv/assets/about
    db:
        image: postgres:14
        container_name: dfm_postgres
        volumes:
            - dfm_db:/var/lib/postgresql/data
        # Use this to expose the database to your host machine
        #ports:
        #    - 127.0.0.1:${DFM_DB_PORT}:5432
        environment:
            - POSTGRES_USER=${DFM_DB_USER}
            - POSTGRES_PASSWORD=${DFM_DB_PASSWORD}
            - POSTGRES_DB=${DFM_DB_NAME}

volumes:
    # database is in this volume
    dfm_db:
    # needed to keep persistency, right now SSL
    dfm-data:
