<div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.firstField"
        />
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.secondField"
        />
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.thirdField"
        />
    </div>
    <app-patient-status-tags-field
        class="mt-1"
        [patientStatusTagsField]="patientStatus.tags"
    ></app-patient-status-tags-field>
</div>
