<div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center">
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.firstField"
        ></app-patient-status-data-field>
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.secondField"
        ></app-patient-status-data-field>
        <app-patient-status-data-field
            class="me-1"
            [patientStatusDataField]="patientStatus.thirdField"
        ></app-patient-status-data-field>
    </div>
    <app-patient-status-tags-field
        [patientStatusTagsField]="patientStatus.tags"
    ></app-patient-status-tags-field>
</div>
