<ng-container>
    <div class="h-100 d-flex flex-column">
        <nav #nav="ngbNav" ngbNav [(activeId)]="activeNavId" class="nav-tabs">
            <ng-container ngbNavItem="general">
                <a ngbNavLink data-cy="transferPointPopupNamesNav">Übersicht</a>
                <ng-template ngbNavContent>
                    <app-simulated-region-overview-general-tab
                        [simulatedRegion]="simulatedRegion"
                    />
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem="transfer">
                <a ngbNavLink data-cy="transferPointPopupOtherTransferPointsNav"
                    >Transfer</a
                >
                <ng-template ngbNavContent
                    ><app-simulated-region-overview-transfer-tab />
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem="behaviors">
                <a ngbNavLink data-cy="transferPointPopupHospitalNav"
                    >Verhaltensweisen</a
                >
                <ng-template ngbNavContent
                    ><app-simulated-region-overview-behavior-tab
                        class="mh-100 d-block h-100"
                        [simulatedRegion]="simulatedRegion"
                    />
                </ng-template>
            </ng-container>
        </nav>
        <div
            [ngbNavOutlet]="nav"
            class="mt-2 flex-grow-1 flex-shrink-1 simulated-region-overview-nav-outlet"
            style="min-height: 0"
        ></div>
    </div>
</ng-container>
