.simulated-region-overview-nav-outlet > div[role='tabpanel'] {
    max-height: 100%;
    height: 100%;
}

.simulated-region-overview-nav-tabs .nav-link.nav-item {
    max-width: calc((1 / 5) * 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
