<ng-container *ngIf="patient$ | async as patient">
    <h5 class="popover-header">
        {{ patient.personalInformation.name }}
        <span
            [ngStyle]="{ 'background-color': patient.visibleStatus ?? 'white' }"
            [class.text-dark]="
                patient.visibleStatus === 'yellow' ||
                patient.visibleStatus === 'white' ||
                patient.visibleStatus === null
            "
            class="badge rounded-pill font-monospace"
        >
            {{
                (apiService.currentRole$ | async) !== 'participant'
                    ? (patient.health / healthPointsDefaults.max | percent)
                    : statusNames[patient.visibleStatus || 'white']
            }}
        </span>
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body p-0">
        <table class="table mb-0" style="max-width: 300px">
            <tbody>
                <tr>
                    <th scope="col">Alter</th>
                    <td class="font-monospace">
                        {{ patient.biometricInformation.age }}
                        <small>
                            ({{ patient.personalInformation.birthdate }})
                        </small>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Geschlecht</th>
                    <td
                        *appLet="patient.biometricInformation.sex as sex"
                        class="font-monospace"
                    >
                        {{
                            sex === 'male'
                                ? 'männlich'
                                : sex === 'female'
                                ? 'weiblich'
                                : 'unbestimmt'
                        }}
                    </td>
                </tr>
                <tr>
                    <th scope="col">Biometrie</th>
                    <td class="font-monospace">
                        {{ patient.biometricInformation.externalFeatures }}
                    </td>
                </tr>
                <tr>
                    <th scope="col">Adresse</th>
                    <td class="font-monospace">
                        {{ patient.personalInformation.address }}
                    </td>
                </tr>
                <ng-container
                    *ngIf="(apiService.currentRole$ | async) !== 'participant'"
                >
                    <tr>
                        <th scope="col">Beschreibung</th>
                        <td class="font-monospace">
                            {{ patient.healthDescription }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Verletzungs-Geschwindigkeit:</th>
                        <td class="font-monospace">
                            &times;{{ patient.timeSpeed }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-container>
