<ng-container *ngIf="patient$ | async as patient">
    <h5 class="popover-header">
        {{ patient.personalInformation.name }}
        <span
            *ngIf="
                (apiService.currentRole$ | async) === 'participant'
                    ? (visibleStatus$ | async)
                    : patient.realStatus as displayedStatus
            "
            [ngStyle]="{ 'background-color': displayedStatus }"
            [class.text-dark]="
                displayedStatus === 'yellow' || displayedStatus === 'white'
            "
            class="badge rounded-pill font-monospace"
        >
            {{
                (apiService.currentRole$ | async) !== 'participant'
                    ? (patient.health / healthPointsDefaults.max | percent)
                    : statusNames[displayedStatus]
            }}
        </span>
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body p-0">
        <nav #nav="ngbNav" ngbNav class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>Allgemein</a>
                <ng-template ngbNavContent>
                    <table
                        class="table table-sm small mb-0"
                        style="max-width: 300px"
                    >
                        <tbody>
                            <tr>
                                <th scope="col">Alter</th>
                                <td class="font-monospace">
                                    {{ patient.biometricInformation.age }}
                                    <small>
                                        {{
                                            patient.personalInformation
                                                .birthdate
                                        }}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Geschlecht</th>
                                <td
                                    *appLet="
                                        patient.biometricInformation.sex as sex
                                    "
                                    class="font-monospace"
                                >
                                    {{
                                        sex === 'male'
                                            ? 'männlich'
                                            : sex === 'female'
                                            ? 'weiblich'
                                            : 'unbestimmt'
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Biometrie</th>
                                <td class="font-monospace">
                                    {{
                                        patient.biometricInformation
                                            .externalFeatures
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Adresse</th>
                                <td class="font-monospace">
                                    {{ patient.personalInformation.address }}
                                </td>
                            </tr>
                            <ng-container
                                *ngIf="
                                    (apiService.currentRole$ | async) !==
                                    'participant'
                                "
                            >
                                <tr>
                                    <th scope="col">Beschreibung</th>
                                    <td class="font-monospace fs-5">
                                        <app-patient-status-display
                                            [patientStatus]="
                                                patient.patientStatusCode
                                            "
                                        >
                                        </app-patient-status-display>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Verletzungs-Geschwindigkeit
                                    </th>
                                    <td class="font-monospace">
                                        &times;{{ patient.timeSpeed }}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="small fw-bold p-1">Anmerkungen</div>
                    <div class="p-1">
                        <textarea
                            [ngModel]="patient.remarks"
                            (appSaveOnTyping)="updateRemarks($event)"
                            [appAutofocus]="true"
                            maxlength="65535"
                            placeholder="Schreiben Sie Informationen über den Patienten in dieses Feld..."
                            class="form-control form-control-sm no-validation w-100"
                            style="height: 100px; resize: none"
                        ></textarea>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>{{
                    (configuration$ | async)?.pretriageEnabled
                        ? 'Vorsichtung'
                        : 'Erstbefund'
                }}</a>
                <ng-template ngbNavContent>
                    <table
                        class="table table-sm small mb-0"
                        style="max-width: 300px"
                    >
                        <tbody>
                            <tr
                                *ngIf="
                                    (configuration$ | async)?.pretriageEnabled
                                "
                            >
                                <th>Vorsichtung</th>
                                <td>
                                    <div
                                        ngbDropdown
                                        placement="bottom-end"
                                        class="d-inline-block float-end"
                                    >
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                            style="min-width: 150px"
                                            ngbDropdownToggle
                                            [disabled]="
                                                (pretriageStatusIsLocked$
                                                    | async) ?? false
                                            "
                                        >
                                            <app-patient-status-badge
                                                *ngIf="
                                                    visibleStatus$
                                                        | async as currentStatus
                                                "
                                                [status]="currentStatus"
                                            >
                                            </app-patient-status-badge>
                                        </button>
                                        <div
                                            ngbDropdownMenu
                                            class="position-absolute"
                                        >
                                            <button
                                                *ngFor="
                                                    let option of pretriageOptions$
                                                        | async
                                                "
                                                ngbDropdownItem
                                                (click)="
                                                    setPretriageCategory(option)
                                                "
                                                class="btn-outline-secondary"
                                            >
                                                <app-patient-status-badge
                                                    [status]="option"
                                                    class="float-end"
                                                >
                                                </app-patient-status-badge>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Verletzungen</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.injuries }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">ausführlicher Body-Check</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.bodyCheck }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Atmung</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.breathing }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Bewusstsein</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.awareness }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Puls</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.pulse }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Haut</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.skin }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Schmerzen</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.pain }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Pupillen</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.pupils }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Psyche</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.psyche }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Hörvermögen</th>
                                <td class="font-monospace">
                                    {{ patient.pretriageInformation.hearing }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-container>
