<ng-container *ngIf="patient$ | async as patient">
    <h5 class="popover-header">
        {{ patient.personalInformation.name }}
        <span
            *ngIf="
                (apiService.currentRole$ | async) === 'participant'
                    ? (visibleStatus$ | async)
                    : patient.healthStates[patient.currentHealthStateId]
                          .status as displayedStatus
            "
            [ngStyle]="{ 'background-color': displayedStatus }"
            [class.text-dark]="
                displayedStatus === 'yellow' || displayedStatus === 'white'
            "
            class="badge rounded-pill font-monospace"
        >
            {{
                (apiService.currentRole$ | async) !== 'participant'
                    ? statusNames[
                          patient.healthStates[patient.currentHealthStateId]
                              .status
                      ]
                    : statusNames[displayedStatus]
            }}
        </span>
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body p-0">
        <nav #nav="ngbNav" ngbNav class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>Allgemein</a>
                <ng-template ngbNavContent>
                    <table class="table mb-0" style="max-width: 300px">
                        <tbody>
                            <tr>
                                <th scope="col">Alter</th>
                                <td class="font-monospace">
                                    {{ patient.biometricInformation.age }}
                                    <small>
                                        {{
                                            patient.personalInformation
                                                .birthdate
                                        }}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Geschlecht</th>
                                <td
                                    *appLet="
                                        patient.biometricInformation.sex as sex
                                    "
                                    class="font-monospace"
                                >
                                    {{
                                        sex === 'male'
                                            ? 'männlich'
                                            : sex === 'female'
                                            ? 'weiblich'
                                            : 'unbestimmt'
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Biometrie</th>
                                <td class="font-monospace">
                                    {{
                                        patient.biometricInformation
                                            .externalFeatures
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Adresse</th>
                                <td class="font-monospace">
                                    {{ patient.personalInformation.address }}
                                </td>
                            </tr>
                            <ng-container
                                *ngIf="
                                    (apiService.currentRole$ | async) !==
                                    'participant'
                                "
                            >
                                <tr>
                                    <th scope="col">Beschreibung</th>
                                    <td class="font-monospace fs-5">
                                        <app-patient-status-display
                                            [patientStatus]="
                                                patient.patientStatusCode
                                            "
                                        >
                                        </app-patient-status-display>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        Verletzungs-Geschwindigkeit:
                                    </th>
                                    <td class="font-monospace">
                                        <select
                                            [ngModel]="patient.changeSpeed"
                                            (ngModelChange)="
                                                setPatientChangeSpeed($event)
                                            "
                                            class="form-select d-inline-block no-validation"
                                            style="max-width: fit-content"
                                        >
                                            <option [value]="0.1">
                                                &times;0,1
                                            </option>
                                            <option [value]="0.2">
                                                &times;0,2
                                            </option>
                                            <option [value]="0.5">
                                                &times;0,5
                                            </option>
                                            <option [value]="1">
                                                &times;1
                                            </option>
                                            <option [value]="2">
                                                &times;2
                                            </option>
                                            <option [value]="5">
                                                &times;5
                                            </option>
                                            <option [value]="10">
                                                &times;10
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>{{
                    (configuration$ | async)?.pretriageEnabled
                        ? 'Vorsichtung'
                        : 'Erstbefund'
                }}</a>
                <ng-template ngbNavContent>
                    <table
                        *ngIf="
                            pretriageInformation$
                                | async as pretriageInformation
                        "
                        class="table mb-0"
                        style="max-width: 300px"
                    >
                        <tbody>
                            <tr
                                *ngIf="
                                    (configuration$ | async)?.pretriageEnabled
                                "
                            >
                                <th>Vorsichtung</th>
                                <td>
                                    <select
                                        [ngModel]="visibleStatus$ | async"
                                        (ngModelChange)="
                                            setPretriageCategory($event)
                                        "
                                        [disabled]="
                                            (pretriageStatusIsLocked$
                                                | async) ?? false
                                        "
                                        class="form-select form-select-sm no-validation"
                                    >
                                        <option
                                            *ngFor="
                                                let option of pretriageOptions$
                                                    | async
                                            "
                                            [value]="option"
                                        >
                                            {{ statusNames[option] }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Verletzungen</th>
                                <td class="font-monospace">
                                    {{ pretriageInformation.injuries }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">ausführlicher Body-Check</th>
                                <td class="font-monospace">
                                    {{ pretriageInformation.bodyCheck }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">X: Kritische Blutung</th>
                                <td class="font-monospace">
                                    {{ pretriageInformation.xCriticalBleeding }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">A: Atemweg</th>
                                <td class="font-monospace">
                                    {{ pretriageInformation.aAirway }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">B: Atmung</th>
                                <td class="font-monospace">
                                    {{
                                        pretriageInformation.bBreathing.pattern
                                    }}
                                    {{
                                        pretriageInformation.bBreathing
                                            .frequency
                                    }}/min
                                    {{
                                        pretriageInformation.bBreathing.zyanose
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">C: Kreislauf</th>
                                <td class="font-monospace">
                                    {{
                                        pretriageInformation.cCirculation.pulse
                                    }}/min
                                    {{
                                        pretriageInformation.cCirculation.rhythm
                                    }}
                                    {{
                                        pretriageInformation.cCirculation
                                            .location
                                    }}
                                    ReCap
                                    {{
                                        pretriageInformation.cCirculation.recap
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">D: Defizit Neurologie</th>
                                <td class="font-monospace">
                                    Pupillen:
                                    {{
                                        pretriageInformation.dDisability.pupils
                                    }}
                                    Gcs:{{
                                        pretriageInformation.dDisability.gcs
                                    }}
                                    Aug.
                                    {{ pretriageInformation.dDisability.eyes }}
                                    Spr.
                                    {{
                                        pretriageInformation.dDisability
                                            .speaking
                                    }}
                                    Mo.
                                    {{
                                        pretriageInformation.dDisability.motoric
                                    }}
                                    Psyche:
                                    {{
                                        pretriageInformation.dDisability.psyche
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">E: Umwelteinflüsse</th>
                                <td class="font-monospace">
                                    Schmerz:
                                    {{ pretriageInformation.eExposure.pain }}
                                    Haut:
                                    {{ pretriageInformation.eExposure.skin }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-container>
