<div ngbDropdown>
    <button
        type="button"
        class="btn btn-sm btn-outline-primary dropdown-toggle"
        ngbDropdownToggle
    >
        <app-transfer-point-name
            [transferPointId]="transfer.targetTransferPointId"
        ></app-transfer-point-name>
    </button>
    <div ngbDropdownMenu>
        <button
            *ngFor="
                let transferPoint of transferPoints$ | async | values;
                trackBy: 'id'
                    | appTrackByProperty: (transferPoints$ | async | values)
            "
            ngbDropdownItem
            [disabled]="transferPoint.id === transfer.targetTransferPointId"
            (click)="setTransferTarget(transferPoint.id)"
        >
            <app-transfer-point-name
                [transferPointId]="transferPoint.id"
            ></app-transfer-point-name>
        </button>
    </div>
</div>
