<div ngbDropdown>
    <button
        type="button"
        class="btn btn-sm btn-outline-primary dropdown-toggle"
        ngbDropdownToggle
    >
        <app-transfer-point-name
            [transferPointId]="transfer.targetTransferPointId"
        ></app-transfer-point-name>
    </button>
    <div ngbDropdownMenu>
        <button
            *ngFor="
                let transferPointKeyValue of transferPoints$ | async | keyvalue;
                trackBy: 'key' | appTrackByProperty
            "
            ngbDropdownItem
            [disabled]="
                transferPointKeyValue.key === transfer.targetTransferPointId
            "
            (click)="setTransferTarget(transferPointKeyValue.key)"
        >
            <app-transfer-point-name
                [transferPointId]="transferPointKeyValue.key"
            ></app-transfer-point-name>
        </button>
    </div>
</div>
