<div
    class="dropdown-menu"
    style="
        position: static;
        display: block;
        max-height: 200px;
        overflow-y: auto;
    "
>
    <button
        *ngFor="
            let reachableTransferPoint of reachableTransferPoints$ | async;
            trackBy: 'id'
                | appTrackByProperty : (reachableTransferPoints$ | async)
        "
        (click)="transferTo(reachableTransferPoint.id, 'transferPoint')"
        type="button"
        class="dropdown-item"
    >
        <app-transfer-point-name
            [transferPointId]="reachableTransferPoint.id"
        ></app-transfer-point-name>
    </button>
    <ng-container *ngIf="droppedElementType === 'vehicle'">
        <div
            *ngIf="
                (reachableTransferPoints$ | async)?.length &&
                (reachableHospitals$ | async)?.length
            "
            class="dropdown-divider"
        ></div>
        <button
            *ngFor="
                let reachableHospital of reachableHospitals$ | async;
                trackBy: 'id'
                    | appTrackByProperty : (reachableHospitals$ | async)
            "
            (click)="transferTo(reachableHospital.id, 'hospital')"
            type="button"
            class="dropdown-item"
        >
            <app-hospital-name
                [hospitalId]="reachableHospital.id"
            ></app-hospital-name>
        </button>
    </ng-container>
    <div
        *ngIf="
            (reachableTransferPoints$ | async)?.length === 0 &&
            (reachableHospitals$ | async)?.length === 0
        "
        class="text-muted p-1 fst-italic"
    >
        Keine Aktion möglich.
    </div>
</div>
