<div class="btn-group btn-group-sm text-nowrap">
    <button
        class="btn btn-small btn-outline-secondary"
        title="Sofort ankommen lassen"
        (click)="transferArriveNow()"
    >
        Sofort
    </button>
    <button
        class="btn btn-small btn-outline-secondary"
        title="Um 5 Minuten verkürzen"
        (click)="addTransferTime(-5 * 60 * 1000)"
    >
        -5&ThinSpace;min
    </button>
    <button
        class="btn btn-small btn-outline-secondary"
        title="Um 1 Minute verkürzen"
        (click)="addTransferTime(-60 * 1000)"
    >
        -1&ThinSpace;min
    </button>
    <button
        class="btn btn-small btn-outline-secondary fw-bolder"
        [class.text-dark]="!transfer.isPaused"
        (click)="togglePauseTransfer()"
        [title]="'Transfer ist ' + (transfer.isPaused ? 'pausiert' : 'aktiv')"
    >
        <i [ngClass]="transfer.isPaused ? 'bi-pause-fill' : 'bi-play-fill'"></i>
        <!-- TODO: `??` would be a bit better than `||`, but messes up the code highlighting -->
        {{
            transfer.endTimeStamp - ((currentTime$ | async) || 0)
                | formatDuration
        }}
    </button>
    <button
        class="btn btn-small btn-outline-secondary"
        title="Um 1 Minute verlängern"
        (click)="addTransferTime(60 * 1000)"
    >
        +1&ThinSpace;min
    </button>
    <button
        class="btn btn-small btn-outline-secondary"
        title="Um 5 Minuten verlängern"
        (click)="addTransferTime(5 * 60 * 1000)"
    >
        +5&ThinSpace;min
    </button>
</div>
