<div class="btn-group btn-group-sm">
    <button
        class="btn btn-small btn-outline-secondary"
        title="1 Minute verkürzen"
        (click)="addTransferTime(-60 * 1000)"
    >
        -
    </button>
    <button
        class="btn btn-small btn-outline-secondary font-monospace fw-bold"
        [class.text-dark]="!transfer.isPaused"
        (click)="togglePauseTransfer()"
        [title]="'Transfer ist ' + (transfer.isPaused ? 'pausiert' : 'aktiv')"
    >
        <i [ngClass]="transfer.isPaused ? 'bi-pause-fill' : 'bi-play-fill'"></i>
        <!-- TODO: `??` would be a bit better than `||`, but messes up the code highlighting -->
        {{
            transfer.endTimeStamp - ((currentTime$ | async) || 0)
                | formatDuration
        }}
    </button>
    <button
        class="btn btn-small btn-outline-secondary"
        title="1 Minute verlängern"
        (click)="addTransferTime(60 * 1000)"
    >
        +
    </button>
</div>
