<h5 class="card-title">Meldung über Fahrzeuganzahlen</h5>

<p class="card-text" *ngIf="(totalVehicleCount$ | async) === 0">
    Derzeit befinden sich hier keine Fahrzeuge.
</p>

<p class="card-text" *ngIf="(totalVehicleCount$ | async) ?? 0 > 0">
    Derzeit befinden sich hier
    {{ totalVehicleCount$ | async }} Fahrzeuge, die unter die folgenden
    Kategorien fallen:
</p>

<table *ngIf="totalVehicleCount$ | async" class="table card-text">
    <thead>
        <tr>
            <th class="w-75">Kategorie</th>
            <th class="w-25">Anzahl</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicleCount of vehicleCounts$ | async">
            <td>{{ vehicleCount.vehicleType }}</td>
            <td>{{ vehicleCount.vehicleCount }}</td>
        </tr>
    </tbody>
</table>
