<h5 class="card-title">Meldung über Fahrzeugnutzung</h5>

<ng-container
    *ngIf="
        (((radiogram$ | async)!.occupations | keys).length ?? 0) > 0;
        else noVehicles
    "
>
    <p class="card-text">
        Die Fahrzeuge in diesem Bereich werden wie folgt genutzt:
    </p>

    <table class="table card-text">
        <thead>
            <tr>
                <th class="w-75">Nutzungsart</th>
                <th class="w-25">Anzahl</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let occupation of (radiogram$ | async)!.occupations
                        | keyvalue
                "
            >
                <td>
                    {{ $any(occupation.key) | occupationShortName }}
                </td>
                <td>{{ occupation.value }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #noVehicles>
    <p class="card-text">Derzeit befinden sich hier keine Fahrzeuge.</p>
</ng-template>
