<div class="container-fluid d-flex flex-column h-100">
    <div class="flex-fill row">
        <div class="col p-0 rounded-start overflow-hidden">
            <app-exercise-map></app-exercise-map>
        </div>
        <div class="card col-3 p-0 rounded-0 rounded-end">
            <div class="card-header text-center">
                <h5 class="mb-0">Editor</h5>
            </div>
            <!-- We want the editor panel to overflow, if it is too high -->
            <ul
                class="list-group list-group-flush"
                style="flex: auto; height: 0; overflow-y: auto"
            >
                <li class="list-group-item">
                    <h5>Ansicht/Transferpunkt</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            class="d-inline-block card text-center"
                            style="
                                width: 10rem;
                                text-overflow: ellipsis;
                                background-color: #999999;
                            "
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'viewport',
                                    template: viewportTemplate
                                })
                            "
                        >
                            <div class="preview-image-container">
                                <img
                                    [src]="viewportTemplate.image.url"
                                    class="card-img-top"
                                />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="'Ansicht'"
                                >
                                    Ansicht
                                </h5>
                            </div>
                        </div>
                        <div
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'transferPoint',
                                    template: transferPointTemplate
                                })
                            "
                        >
                            <div class="preview-image-container">
                                <img
                                    [src]="transferPointTemplate.image.url"
                                    class="card-img-top"
                                />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="'Transferpunkt'"
                                >
                                    Transferpunkt
                                </h5>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [ngModel]="
                                        transferLinesService.displayTransferLines
                                    "
                                    (ngModelChange)="
                                        changeDisplayTransferLines($event)
                                    "
                                />
                                <label class="form-check-label"
                                    >Verbindungen Anzeigen</label
                                >
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Patienten</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            *ngFor="
                                let patientTemplate of patientTemplates$ | async
                            "
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'patient',
                                    template: patientTemplate
                                })
                            "
                        >
                            <div class="preview-image-container card-img-top">
                                <img [src]="patientTemplate.image.url" />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="
                                        patientTemplate.personalInformation.name
                                    "
                                >
                                    {{
                                        patientTemplate.personalInformation.name
                                    }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Fahrzeuge</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            *ngFor="
                                let vehicleTemplate of vehicleTemplates$ | async
                            "
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'vehicle',
                                    template: vehicleTemplate
                                })
                            "
                        >
                            <div class="preview-image-container card-img-top">
                                <img [src]="vehicleTemplate.image.url" />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="vehicleTemplate.name"
                                >
                                    {{ vehicleTemplate.name }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Bilder</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            *ngFor="
                                let mapImageTemplate of mapImageTemplates$
                                    | async
                            "
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'mapImage',
                                    template: mapImageTemplate
                                })
                            "
                        >
                            <div class="preview-image-container card-img-top">
                                <img [src]="mapImageTemplate.image.url" />
                            </div>

                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="mapImageTemplate.name"
                                >
                                    {{ mapImageTemplate.name }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-trainer-toolbar [exerciseId]="exerciseId"></app-trainer-toolbar>
</div>
