<div class="container-fluid d-flex flex-column h-100">
    <div class="flex-fill row">
        <div class="col p-0 rounded-start overflow-hidden">
            <app-exercise-map></app-exercise-map>
        </div>
        <div class="card col-auto p-0 rounded-0 rounded-end">
            <div class="card-header text-center">
                <h5 class="mb-0">Editor</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>Patienten</h5>
                    <button
                        (click)="addPatient()"
                        class="btn btn-primary me-3"
                        id="addPatient"
                    >
                        Patient hinzufügen
                    </button>
                    <button
                        (click)="addMultiple(20, 'addPatient')"
                        class="btn btn-primary"
                    >
                        20 Patienten hinzufügen
                    </button>
                    <br />
                    {{ numberOfPatients$ | async }}
                </li>
                <li class="list-group-item">
                    <h5>Fahrzeuge</h5>
                    <button (click)="addVehicle()" class="btn btn-primary me-3">
                        Fahrzeug hinzufügen
                    </button>
                    <button
                        (click)="addMultiple(20, 'addVehicle')"
                        class="btn btn-primary"
                    >
                        20 Fahrzeuge hinzufügen
                    </button>
                    <br />
                    {{ numberOfVehicles$ | async }}
                </li>
                <li class="list-group-item">
                    <h5>Einsatzkräfte</h5>
                    <button
                        (click)="addPersonell()"
                        class="btn btn-primary me-3"
                    >
                        Einsatzkraft hinzufügen
                    </button>
                    <button
                        (click)="addMultiple(20, 'addPersonell')"
                        class="btn btn-primary"
                    >
                        20 Einsatzkräfte hinzufügen
                    </button>
                    <br />
                    {{ numberOfPersonell$ | async }}
                </li>
                <li class="list-group-item">
                    <h5>Material</h5>
                    <button
                        (click)="addMaterial()"
                        class="btn btn-primary me-3"
                    >
                        Material hinzufügen
                    </button>
                    <button
                        (click)="addMultiple(20, 'addMaterial')"
                        class="btn btn-primary"
                    >
                        20 Material hinzufügen (optimistic)
                    </button>
                    <br />
                    {{ numberOfMaterials$ | async }}
                </li>
            </ul>
        </div>
    </div>
    <app-trainer-toolbar [exerciseId]="exerciseId"></app-trainer-toolbar>
</div>
