@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.preview-image-container {
    // TODO: Set the height depending on the current grid tier https://getbootstrap.com/docs/5.1/layout/breakpoints/
    height: 100px !important;
    padding: map-get($spacers, 3);
    img {
        // fill out the whole container
        max-width: 100%;
        max-height: 100%;
        // center it vertically
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
