<div class="container-fluid d-flex flex-column h-100">
    <div class="flex-fill row">
        <div class="col p-0 rounded-start overflow-hidden">
            <app-exercise-map></app-exercise-map>
        </div>
        <div class="card col-3 p-0 rounded-0 rounded-end">
            <div class="card-header text-center">
                <h5 class="mb-0">
                    Editor
                    <label class="btn btn-outline-primary btn-sm ms-3">
                        <i class="bi-cloud-upload me-2"> </i>
                        Vorlagen Importieren
                        <span
                            *ngIf="importingTemplates"
                            class="spinner-border spinner-border-sm"
                        ></span>
                        <input
                            (appFileInput)="importPartialExport($event)"
                            type="file"
                            accept="application/json"
                            class="d-none"
                        />
                    </label>
                </h5>
            </div>
            <!-- We want the editor panel to overflow, if it is too high -->
            <ul
                class="list-group list-group-flush"
                style="flex: auto; height: 0; overflow-y: auto"
            >
                <li class="list-group-item">
                    <h5>Ansicht/Transferpunkt</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'viewport',
                                    template: viewportTemplate
                                })
                            "
                        >
                            <div class="preview-image-container bg-secondary">
                                <img
                                    [src]="viewportTemplate.image.url"
                                    class="card-img-top"
                                />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="'Ansicht'"
                                >
                                    Ansicht
                                </h5>
                            </div>
                        </div>
                        <div
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'transferPoint',
                                    template: transferPointTemplate
                                })
                            "
                        >
                            <div class="preview-image-container">
                                <img
                                    [src]="transferPointTemplate.image.url"
                                    class="card-img-top"
                                />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="'Transferpunkt'"
                                >
                                    Transferpunkt
                                </h5>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [ngModel]="
                                        transferLinesService.displayTransferLines
                                    "
                                    (ngModelChange)="
                                        changeDisplayTransferLines($event)
                                    "
                                />
                                <label class="form-check-label"
                                    >Verbindungen Anzeigen</label
                                >
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Simulierte Bereiche</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'simulatedRegion',
                                    template: simulatedRegionTemplate
                                })
                            "
                        >
                            <div class="preview-image-container bg-secondary">
                                <img
                                    [src]="simulatedRegionTemplate.image.url"
                                    class="card-img-top"
                                />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="'Simulierter Bereich'"
                                >
                                    Simulierter Bereich
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>
                        Patienten
                        <div
                            ngbDropdown
                            placement="bottom-end"
                            class="d-inline-block float-end"
                        >
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-secondary mb-2"
                                style="min-width: 100px"
                                ngbDropdownToggle
                            >
                                <app-patient-status-badge
                                    [status]="colorCodeMap[currentCategory]"
                                >
                                </app-patient-status-badge>
                            </button>
                            <div
                                ngbDropdownMenu
                                class="position-absolute"
                                style="min-width: 100px"
                            >
                                <button
                                    *ngFor="let category of categories"
                                    ngbDropdownItem
                                    (click)="setCurrentCategory(category)"
                                    class="btn-outline-secondary"
                                >
                                    <app-patient-status-badge
                                        [status]="colorCodeMap[category]"
                                        class="float-end"
                                    >
                                    </app-patient-status-badge>
                                </button>
                            </div>
                        </div>
                    </h5>
                    <!-- 20px more height than the sum of the children to have room for the scrollbar -->
                    <div
                        class="overflow-auto w-100 d-flex flex-wrap"
                        style="
                            white-space: nowrap;
                            flex-direction: column;
                            align-content: flex-start;
                            height: 240px;
                        "
                    >
                        <div
                            *ngFor="
                                let patientCategory of patientCategories$
                                    | async
                            "
                        >
                            <div
                                *ngIf="
                                    patientCategory.name.firstField
                                        .colorCode === currentCategory
                                "
                                class="d-inline-block card text-center flex-shrink-0"
                                style="
                                    width: 10rem;
                                    text-overflow: ellipsis;
                                    height: 110px;
                                "
                                (mousedown)="
                                    dragElementService.onMouseDown($event, {
                                        type: 'patient',
                                        template: patientCategory
                                    })
                                "
                            >
                                <div
                                    class="preview-image-container small-image card-img-top"
                                >
                                    <img [src]="patientCategory.image.url" />
                                </div>
                                <div
                                    class="p-1 text-wrap lh-1 fs-5"
                                    style="overflow: auto"
                                >
                                    <app-patient-status-display
                                        [patientStatus]="patientCategory.name"
                                    >
                                    </app-patient-status-display>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>Fahrzeuge</h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            *ngFor="
                                let vehicleTemplate of vehicleTemplates$ | async
                            "
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                vehicleOnMouseDown($event, vehicleTemplate)
                            "
                        >
                            <div class="preview-image-container card-img-top">
                                <img [src]="vehicleTemplate.image.url" />
                            </div>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="vehicleTemplate.vehicleType"
                                >
                                    {{ vehicleTemplate.vehicleType }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h5>
                        Bilder
                        <button
                            class="ms-3 btn btn-sm btn-link text-decoration-none"
                            (click)="addImageTemplate()"
                        >
                            <i class="bi bi-plus"></i>
                            Hinzufügen
                        </button>
                    </h5>
                    <div
                        class="overflow-auto w-100"
                        style="white-space: nowrap"
                    >
                        <div
                            *ngFor="
                                let mapImageTemplate of mapImageTemplates$
                                    | async
                            "
                            class="d-inline-block card text-center"
                            style="width: 10rem; text-overflow: ellipsis"
                            (mousedown)="
                                dragElementService.onMouseDown($event, {
                                    type: 'mapImage',
                                    template: mapImageTemplate
                                })
                            "
                        >
                            <div class="preview-image-container card-img-top">
                                <img [src]="mapImageTemplate.image.url" />
                            </div>

                            <!-- (mousedown) instead of (click) to be able to stop the propagation-->
                            <button
                                (mousedown)="
                                    editMapImageTemplate(mapImageTemplate.id);
                                    $event.stopPropagation()
                                "
                                class="btn btn-outline-warning position-absolute"
                                style="top: 0; right: 0"
                            >
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <div class="card-body">
                                <h5
                                    class="card-title text-truncate"
                                    [title]="mapImageTemplate.name"
                                >
                                    {{ mapImageTemplate.name }}
                                </h5>
                            </div>
                        </div>
                        <span
                            *ngIf="
                                (mapImageTemplates$ | async | keyvalue)
                                    ?.length === 0
                            "
                            class="text-muted"
                        >
                            Keine Bilder vorhanden
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-trainer-toolbar></app-trainer-toolbar>
</div>
