<div class="pt-2">
    <button (click)="openExerciseSettings()" class="btn btn-primary">
        <i class="bi bi-gear-fill"></i>
        Einstellungen
    </button>
    <button (click)="openClientOverview()" class="btn btn-primary ms-3">
        Teilnehmerübersicht
    </button>
    <button (click)="openTransferOverview()" class="btn btn-primary ms-3">
        Transferübersicht
    </button>
    <button
        (click)="openExerciseStatisticsModal()"
        class="btn btn-primary ms-3"
    >
        Statistiken
    </button>
    <button (click)="apiService.startTimeTravel()" class="btn btn-primary ms-3">
        Aufzeichnung
    </button>
    <button
        *ngIf="(exerciseStatus$ | async) === 'running'"
        (click)="pauseExercise()"
        class="btn btn-primary ms-3"
    >
        Pause
    </button>
    <button
        *ngIf="(exerciseStatus$ | async) !== 'running'"
        (click)="startExercise()"
        class="btn btn-primary ms-3"
    >
        Start
    </button>
    <button (click)="deleteExercise()" class="btn btn-danger ms-3 float-end">
        Übung löschen
    </button>
</div>
