<div class="pt-2">
    <button (click)="openClientOverview()" class="btn btn-primary">
        Teilnehmerübersicht
    </button>
    <button
        *ngIf="(exercisePausedState$ | async)?.status === 'running'"
        (click)="pauseExercise()"
        class="btn btn-primary"
    >
        Pause
    </button>
    <button
        *ngIf="(exercisePausedState$ | async)?.status !== 'running'"
        (click)="startExercise()"
        class="btn btn-primary"
    >
        Start
    </button>
    <button
        *ngIf="participantId$ | async; let participantId"
        (click)="copyParticipantIdToClipboard(participantId)"
        ngbTooltip="In die Zwischenablage kopieren"
        class="btn btn-primary"
    >
        ID für Übungsteilnehmer: {{ participantId }}
    </button>
</div>
