<div class="pt-2">
    <button (click)="openClientOverview()" class="btn btn-primary">
        Teilnehmerübersicht
    </button>
    <button
        *ngIf="(exercisePausedState$ | async)?.status === 'running'"
        (click)="pauseExercise()"
        class="btn btn-primary ms-3"
    >
        Pause
    </button>
    <button
        *ngIf="(exercisePausedState$ | async)?.status !== 'running'"
        (click)="startExercise()"
        class="btn btn-primary ms-3"
    >
        Start
    </button>
    <button (click)="deleteExercise()" class="btn btn-danger ms-3 float-end">
        Übung löschen
    </button>
</div>
