<div class="d-flex justify-content-between">
    <div>
        Digitale FüSim MANV, Version {{ version }} –
        <a
            href="mailto:kontakt@manv-simulation.de?subject=Feedback zur Digitalen FüSim MANV Version {{
                version
            }}"
            >Feedback geben</a
        >
    </div>

    <!--If you change it here, also change it in index.html so it available even without JavaScript-->
    <div>
        <a routerLink="/about/terms">Nutzungsbedingungen</a> |
        <a routerLink="/about/license">Lizenz</a> |
        <a routerLink="/about/privacy">Datenschutz</a> |
        <a routerLink="/about/imprint">Impressum</a>
    </div>
</div>
