<div class="d-flex justify-content-between">
    <div>
        Digitale FüSim MANV, Version {{ version }} –
        <a
            href="mailto:BP2022HG1-feedback@hpi.de?subject=Feedback zur Digitalen FüSim MANV Version {{
                version
            }}"
            >Feedback geben</a
        >
    </div>

    <div>
        <a routerLink="/about/imprint">Impressum</a> |
        <a routerLink="/about/privacy">Datenschutz</a> |
        <a routerLink="/about/license">Lizenz</a>
    </div>
</div>
