<div class="input-group">
    <label class="input-group-text"
        >Filter
        <app-hotkey-indicator
            *ngIf="filterHotkey"
            [hotkey]="filterHotkey"
            class="ms-1"
        />:
    </label>
    <input
        type="search"
        class="form-control no-validation"
        #filterInput
        [(ngModel)]="filter"
        (focus)="onFilterFocus()"
        (blur)="onFilterBlur()"
    />
</div>

<small *ngIf="filterActive" class="text-muted">
    <app-hotkey-indicator [hotkey]="exitFilterHotkey" />: Filter verlassen
    <br />
    <app-hotkey-indicator [hotkey]="upHotkey" />/<app-hotkey-indicator
        [hotkey]="downHotkey"
    />: Vorheriges/Nächstes Element auswählen
</small>

<ul class="list-group list-group-flush mt-2">
    <li
        *ngFor="let interaction of filteredInteractions; index as index"
        class="list-group-item"
        [class.active]="index === selectedIndex"
    >
        <div
            *appLet="(this.simulatedRegionId ? (requestable$ | async)?.[interaction.key] : true) as enabled"
            class="d-flex flex-row mb-2"
        >
            <div class="flex-grow-1">
                <span [class.text-muted]="!enabled">
                    <strong>{{ interaction.name }}</strong>
                    <span *ngIf="interaction.details as details">
                        {{ details }}
                    </span>
                </span>
                <ng-container *ngIf="!enabled && interaction.errorMessage">
                    <br />
                    <span class="text-warning">{{
                        interaction.errorMessage
                    }}</span>
                </ng-container>
            </div>
            <div class="flex-shrink-1 text-nowrap">
                <button
                    *appLet="
                        interaction.loading$ === undefined
                            ? false
                            : (interaction.loading$ | async) as loading
                    "
                    [disabled]="!enabled || loading"
                    class="btn btn-primary"
                    [class.btn-primary]="index !== selectedIndex"
                    [class.btn-outline-light]="index === selectedIndex"
                    (click)="
                        interaction.hotkey.callback(undefined!, undefined!)
                    "
                >
                    {{ primaryActionLabel }}
                    <span
                        *ngIf="loading; else hotkeys"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                    ></span>
                    <ng-template #hotkeys>
                        <app-hotkey-indicator
                            *ngIf="index !== selectedIndex"
                            [hotkey]="interaction.hotkey"
                        />
                        <app-hotkey-indicator
                            *ngIf="index === selectedIndex"
                            [hotkey]="confirmHotkey"
                        />
                    </ng-template>
                </button>
                <button
                    *ngIf="showSecondaryButton"
                    [disabled]="
                        !enabled || interaction.secondaryHotkey === undefined
                    "
                    class="btn btn-secondary ms-1"
                    (click)="
                        interaction.secondaryHotkey?.callback(
                            undefined!,
                            undefined!
                        )
                    "
                >
                    <i class="bi bi-clock-history"></i>
                    <ng-container *ngIf="interaction.secondaryHotkey">
                        <app-hotkey-indicator
                            *ngIf="index !== selectedIndex"
                            [hotkey]="interaction.secondaryHotkey"
                            class="ms-1"
                        />
                        <app-hotkey-indicator
                            *ngIf="index === selectedIndex"
                            [hotkey]="confirmSecondaryHotkey"
                            class="ms-1"
                        />
                    </ng-container>
                </button>
            </div>
        </div>

        <app-radiogram-card
            *ngFor="
                let radiogram of ((requestedRadiograms$ | async)?.[
                    interaction.key
                ] ?? []);
                trackBy: 'id'
                    | appTrackByProperty : ((requestedRadiograms$ | async)?.[
                    interaction.key
                ] ?? [])
            "
            [radiogramId]="radiogram.id"
            [first]="false"
            [shownInSignallerModal]="false"
        />
    </li>
</ul>
