<h5 class="card-title">Meldung über Fahrzeuganzahlen</h5>

<p class="card-text" *ngIf="totalVehicleCount === 0">
    Derzeit befinden sich im Bereich {{ simulatedRegionName$ | async }} keine
    Fahrzeuge.
</p>

<p class="card-text" *ngIf="totalVehicleCount > 0">
    Derzeit befinden sich im Bereich {{ simulatedRegionName$ | async }}
    {{ totalVehicleCount }} Fahrzeuge, die unter die folgenden Kategorien
    fallen:
</p>

<table *ngIf="totalVehicleCount > 0" class="table card-text">
    <thead>
        <tr>
            <th class="w-50">Kategorie</th>
            <th class="w-50">Anzahl</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicleCounts">
            <td>{{ vehicle.vehicleName }}</td>
            <td>{{ vehicle.vehicleCount }}</td>
        </tr>
    </tbody>
</table>
