<ng-container *ngIf="transferPoint$ | async as transferPoint">
    <h5 class="popover-header">
        {{ transferPoint.externalName }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body" style="width: 500px">
        <nav #nav="ngbNav" ngbNav [(activeId)]="activeNavId" class="nav-tabs">
            <ng-container
                ngbNavItem="names"
                [disabled]="(apiService.currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink>Namen</a>
                <ng-template ngbNavContent>
                    <div class="form-group pb-3">
                        <label class="form-label">Interner Name</label>
                        <input
                            #internalNameInput="ngModel"
                            [(ngModel)]="internalName"
                            [maxlength]="16"
                            required
                            type="text"
                            class="form-control"
                        />
                        <app-display-validation
                            [ngModelInput]="internalNameInput"
                        ></app-display-validation>
                    </div>

                    <div class="form-group pb-3">
                        <label class="form-label">Externer Name</label>
                        <input
                            #externalNameInput="ngModel"
                            [(ngModel)]="externalName"
                            [maxlength]="30"
                            required
                            type="text"
                            class="form-control"
                        />
                        <app-display-validation
                            [ngModelInput]="externalNameInput"
                        ></app-display-validation>
                    </div>

                    <button
                        [disabled]="
                            internalNameInput.invalid ||
                            externalNameInput.invalid
                        "
                        (click)="saveTransferPointNames()"
                        class="btn btn-warning"
                    >
                        Speichern
                    </button>
                </ng-template>
            </ng-container>
            <ng-container
                ngbNavItem="connections"
                [disabled]="(apiService.currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink>Verbindungen</a>
                <ng-template ngbNavContent>
                    <p
                        *ngIf="
                            (transferPoint.reachableTransferPoints | keyvalue)
                                .length === 0
                        "
                        class="text-muted font-bold"
                    >
                        Es sind noch keine Verbindungen vorhanden.
                    </p>
                    <ul
                        *ngIf="transferPoints$ | async as transferPoints"
                        class="list-group mb-3 overflow-auto"
                        style="height: 250px"
                    >
                        <li
                            *ngFor="
                                let reachableTransferPoint of transferPoint.reachableTransferPoints
                                    | keyvalue;
                                trackBy: 'key' | appTrackByProperty
                            "
                            class="list-group-item d-flex align-items-center flex-nowrap p-0"
                        >
                            <div
                                [title]="
                                    transferPoints[reachableTransferPoint.key]
                                        .externalName +
                                    ' (' +
                                    transferPoints[reachableTransferPoint.key]
                                        .internalName +
                                    ')'
                                "
                                class="flex-grow-1 ps-2 pe-2 text-truncate"
                                style="max-width: 300px"
                            >
                                <app-transfer-point-name
                                    [transferPointId]="
                                        reachableTransferPoint.key
                                    "
                                ></app-transfer-point-name>
                            </div>
                            <input
                                #internalNameInput="ngModel"
                                required
                                [min]="0"
                                [max]="24 * 60"
                                [ngModel]="
                                    reachableTransferPoint.value.duration /
                                    1000 /
                                    60
                                "
                                (ngModelChange)="
                                    connectTransferPoint(
                                        reachableTransferPoint.key,
                                        $event * 1000 * 60
                                    )
                                "
                                style="width: 125px"
                                class="form-control form-control-sm"
                                type="number"
                                step="0.1"
                                placeholder="Dauer"
                            />
                            <span class="ps-2 pe-2" title="Minuten">min</span>
                            <button
                                class="btn btn-link text-danger text-decoration-none"
                                title="Verbindung löschen"
                                (click)="
                                    disconnectTransferPoint(
                                        reachableTransferPoint.key
                                    )
                                "
                            >
                                <i class="bi-trash"></i>
                            </button>
                        </li>
                    </ul>
                    <div
                        *ngIf="
                            (transferPointsToBeAdded$ | async | keyvalue)
                                ?.length !== 0
                        "
                        ngbDropdown
                        placement="bottom-start"
                        autoClose="outside"
                        class="d-inline-block"
                    >
                        <button
                            ngbDropdownToggle
                            type="button"
                            class="btn btn-outline-primary"
                        >
                            Hinzufügen
                        </button>
                        <div
                            ngbDropdownMenu
                            class="overflow-auto"
                            style="max-height: 150px"
                        >
                            <button
                                *ngFor="
                                    let _transferPoint of transferPointsToBeAdded$
                                        | async
                                        | keyvalue;
                                    trackBy: 'key' | appTrackByProperty
                                "
                                ngbDropdownItem
                                (click)="
                                    connectTransferPoint(
                                        _transferPoint.value.id
                                    )
                                "
                            >
                                <app-transfer-point-name
                                    [transferPointId]="_transferPoint.key"
                                ></app-transfer-point-name>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-container>
