<ng-container *ngIf="transferPoint$ | async as transferPoint">
    <h5 class="popover-header">
        {{ transferPoint.externalName }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
            data-cy="transferPointPopupCloseButton"
        ></button>
    </h5>
    <div class="popover-body" style="width: 500px">
        <nav #nav="ngbNav" ngbNav [(activeId)]="activeNavId" class="nav-tabs">
            <ng-container
                ngbNavItem="names"
                [disabled]="(currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink data-cy="transferPointPopupNamesNav">Namen</a>
                <ng-template ngbNavContent>
                    <div class="form-group pb-3">
                        <label class="form-label">Interner Name</label>
                        <input
                            #internalNameInput="ngModel"
                            [ngModel]="transferPoint.internalName"
                            (appSaveOnTyping)="
                                renameTransferPoint({
                                    internalName: $event
                                })
                            "
                            [maxlength]="16"
                            required
                            type="text"
                            class="form-control"
                            data-cy="transferPointPopupInternalNameInput"
                        />
                        <app-display-validation
                            [ngModelInput]="internalNameInput"
                        ></app-display-validation>
                    </div>

                    <div class="form-group pb-3">
                        <label class="form-label">Externer Name</label>
                        <input
                            #externalNameInput="ngModel"
                            [ngModel]="transferPoint.externalName"
                            (appSaveOnTyping)="
                                renameTransferPoint({
                                    externalName: $event
                                })
                            "
                            [maxlength]="30"
                            required
                            type="text"
                            class="form-control"
                            data-cy="transferPointPopupExternalNameInput"
                        />
                        <app-display-validation
                            [ngModelInput]="externalNameInput"
                        ></app-display-validation>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container
                ngbNavItem="transferPoints"
                [disabled]="(currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink data-cy="transferPointPopupOtherTransferPointsNav"
                    >Transferpunkte</a
                >
                <ng-template ngbNavContent>
                    <app-other-transfer-point-tab
                        [transferPointId]="transferPointId"
                    />
                </ng-template>
            </ng-container>
            <ng-container
                ngbNavItem="hospitals"
                [disabled]="(currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink data-cy="transferPointPopupHospitalNav"
                    >Krankenhäuser</a
                >
                <ng-template ngbNavContent>
                    <app-transfer-hospitals-tab
                        [transferPointId]="transferPointId"
                    />
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-container>
