<ng-container *ngIf="transferPoint$ | async as transferPoint">
    <h5 class="popover-header">
        {{ transferPoint.externalName }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body" style="width: 500px">
        <nav #nav="ngbNav" ngbNav [(activeId)]="activeNavId" class="nav-tabs">
            <ng-container
                ngbNavItem="names"
                [disabled]="(apiService.currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink>Namen</a>
                <ng-template ngbNavContent>
                    <div class="form-group pb-3">
                        <label class="form-label">Interner Name</label>
                        <input
                            #internalNameInput="ngModel"
                            [(ngModel)]="internalName"
                            [maxlength]="16"
                            required
                            type="text"
                            class="form-control"
                        />
                        <app-display-validation
                            [ngModelInput]="internalNameInput"
                        ></app-display-validation>
                    </div>

                    <div class="form-group pb-3">
                        <label class="form-label">Externer Name</label>
                        <input
                            #externalNameInput="ngModel"
                            [(ngModel)]="externalName"
                            [maxlength]="30"
                            required
                            type="text"
                            class="form-control"
                        />
                        <app-display-validation
                            [ngModelInput]="externalNameInput"
                        ></app-display-validation>
                    </div>

                    <button
                        [disabled]="
                            internalNameInput.invalid ||
                            externalNameInput.invalid
                        "
                        (click)="saveTransferPointNames()"
                        class="btn btn-warning"
                    >
                        Speichern
                    </button>
                </ng-template>
            </ng-container>
            <ng-container
                ngbNavItem="connections"
                [disabled]="(apiService.currentRole$ | async) !== 'trainer'"
            >
                <a ngbNavLink>Verbindungen</a>
                <ng-template ngbNavContent>
                    <p
                        *ngIf="
                            (transferPoint.reachableTransferPoints | values)
                                .length === 0 &&
                            (transferPoint.reachableHospitals | values)
                                .length === 0
                        "
                        class="text-muted font-bold"
                    >
                        Es sind noch keine Verbindungen vorhanden.
                    </p>
                    <div class="mb-3 overflow-auto" style="height: 250px">
                        <ul
                            *ngIf="transferPoints$ | async as transferPoints"
                            class="list-group"
                        >
                            <li
                                *ngFor="
                                    let reachableTransferPointConnection of transferPoint.reachableTransferPoints
                                        | keyvalue;
                                    trackBy: 'key' | appTrackByProperty
                                "
                                class="list-group-item d-flex align-items-center flex-nowrap p-0"
                            >
                                <div
                                    class="flex-grow-1 ps-2 pe-2 text-truncate"
                                    style="max-width: 300px"
                                >
                                    <app-transfer-point-name
                                        [transferPointId]="
                                            reachableTransferPointConnection.key
                                        "
                                    ></app-transfer-point-name>
                                </div>
                                <input
                                    required
                                    [min]="0"
                                    [max]="24 * 60"
                                    [ngModel]="
                                        reachableTransferPointConnection.value
                                            .duration /
                                        1000 /
                                        60
                                    "
                                    (ngModelChange)="
                                        connectTransferPoint(
                                            reachableTransferPointConnection.key,
                                            $event * 1000 * 60
                                        )
                                    "
                                    style="width: 125px"
                                    class="form-control form-control-sm"
                                    type="number"
                                    step="0.1"
                                    placeholder="Dauer"
                                />
                                <span class="ps-2 pe-2" title="Minuten"
                                    >min</span
                                >
                                <button
                                    class="btn btn-link text-danger text-decoration-none"
                                    title="Verbindung löschen"
                                    (click)="
                                        disconnectTransferPoint(
                                            reachableTransferPointConnection.key
                                        )
                                    "
                                >
                                    <i class="bi-trash"></i>
                                </button>
                            </li>
                        </ul>
                        <ul
                            *ngIf="hospitals$ | async as hospitals"
                            class="list-group"
                        >
                            <li
                                *ngFor="
                                    let reachableHospitalId of transferPoint.reachableHospitals
                                        | keys;
                                    trackBy: '$value' | appTrackByProperty
                                "
                                class="list-group-item d-flex align-items-center flex-nowrap p-0"
                            >
                                <div
                                    [title]="
                                        hospitals[reachableHospitalId]!.name
                                    "
                                    class="flex-grow-1 ps-2 pe-2 text-truncate"
                                    style="max-width: 300px"
                                >
                                    <app-hospital-name
                                        [hospitalId]="reachableHospitalId"
                                    ></app-hospital-name>
                                </div>
                                <span
                                    class="font-monospace text-end"
                                    style="width: 125px"
                                    >{{
                                        hospitals[reachableHospitalId]!
                                            .transportDuration /
                                            1000 /
                                            60
                                    }}</span
                                >
                                <span class="ps-2 pe-2" title="Minuten"
                                    >min</span
                                >
                                <button
                                    class="btn btn-link text-danger text-decoration-none"
                                    title="Verbindung löschen"
                                    (click)="
                                        disconnectHospital(reachableHospitalId)
                                    "
                                >
                                    <i class="bi-trash"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div
                        *ngIf="
                            (transferPointsToBeAdded$ | async | values)
                                ?.length !== 0 ||
                            (hospitalsToBeAdded$ | async | values)?.length !== 0
                        "
                        ngbDropdown
                        placement="bottom-start"
                        autoClose="outside"
                        class="d-inline-block"
                    >
                        <button
                            ngbDropdownToggle
                            type="button"
                            class="btn btn-outline-primary"
                        >
                            Hinzufügen
                        </button>
                        <div
                            ngbDropdownMenu
                            class="overflow-auto"
                            style="max-height: 150px"
                        >
                            <button
                                *ngFor="
                                    let transferPoint of transferPointsToBeAdded$
                                        | async
                                        | values;
                                    trackBy: 'id' | appTrackByProperty
                                "
                                ngbDropdownItem
                                (click)="connectTransferPoint(transferPoint.id)"
                            >
                                <app-transfer-point-name
                                    [transferPointId]="transferPoint.id"
                                ></app-transfer-point-name>
                            </button>

                            <button
                                *ngFor="
                                    let hospital of hospitalsToBeAdded$
                                        | async
                                        | values;
                                    trackBy: 'id' | appTrackByProperty
                                "
                                ngbDropdownItem
                                (click)="connectHospital(hospital.id)"
                            >
                                <app-hospital-name
                                    [hospitalId]="hospital.id"
                                ></app-hospital-name>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-container>
