<input
    [(ngModel)]="filter"
    (keydown.arrowDown)="increaseSelectedIndex()"
    (keydown.arrowUp)="decreaseSelectedIndex()"
    (keydown.enter)="confirmSelection()"
    (input)="resetSelectedIndex()"
    type="search"
    class="form-control w-100 mb-2 no-validation"
    #searchInput
/>
<div
    class="list-group list-group-flush"
    style="max-height: 300px; overflow: auto"
>
    <!-- Using mousedown instead of click events since click events do not work reliably in bootstrap popovers. -->
    <button
        *ngFor="let option of filteredOptions; index as i"
        (mousedown)="selected.emit(option.identifier)"
        type="button"
        class="list-group-item list-group-item-action"
        [class.active]="selectedIndex === i"
    >
        <span
            (mousedown)="selected.emit(option.identifier)"
            class="badge"
            [style.color]="option.color ?? 'inherit'"
            [style.backgroundColor]="option.backgroundColor ?? 'inherit'"
        >
            {{ option.name }}
        </span>
    </button>
    <small class="text-muted">
        <app-hotkey-indicator keys="Enter" />: Bestätigen,
        <app-hotkey-indicator keys="Esc" />: Abbrechen
    </small>
</div>
