<input
    [(ngModel)]="filter"
    (keydown.arrowDown)="increaseSelectedIndex()"
    (keydown.arrowUp)="decreaseSelectedIndex()"
    (keydown.enter)="confirmSelection()"
    (input)="resetSelectedIndex()"
    type="search"
    class="form-control w-100 mb-2 no-validation"
    #searchInput
/>
<div
    class="list-group list-group-flush"
    style="max-height: 300px; overflow: auto"
>
    <button
        *ngFor="let option of filteredOptions; index as i"
        (click)="selected.emit(option)"
        class="list-group-item list-group-item-action"
        [class.active]="selectedIndex === i"
    >
        {{ option }}
    </button>
</div>
