<ng-container *ngIf="mapImage$ | async as mapImage">
    <h5 class="popover-header">
        Bildinformationen
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body" style="width: 350px; height: 300px">
        <ng-container *ngIf="(client$ | async)?.role === 'trainer'">
            <!-- TODO: This is a workaround to make it possible to add images. In the future these things should not be done via the popup. -->
            <div class="form-group pb-3">
                <label class="form-label">URL</label>
                <input
                    #urlInput="ngModel"
                    [(ngModel)]="url"
                    required
                    appImageExistsValidator
                    type="text"
                    class="form-control"
                />
                <app-display-validation
                    [ngModelInput]="urlInput"
                ></app-display-validation>
            </div>

            <button
                [disabled]="urlInput.invalid"
                (click)="saveUrl()"
                class="btn btn-warning"
            >
                Speichern
            </button>

            <br />
            <br />

            <div class="form-group pb-3">
                <label class="form-label">Höhe</label>
                <input
                    #heightInput="ngModel"
                    [ngModel]="height"
                    (ngModelChange)="resizeImage($event, null)"
                    required
                    type="number"
                    class="form-control"
                />
                <app-display-validation
                    [ngModelInput]="heightInput"
                ></app-display-validation>
            </div>
        </ng-container>
    </div>
</ng-container>
