<div *ngIf="ngModelInput.errors as errors" class="mt-2 text-danger">
    <div *ngIf="errors['required']">Diese Eingabe ist erforderlich.</div>
    <div *ngIf="errors['minLength'] as minLengthError">
        Die Eingabe muss mindestens {{ minLengthError.requiredLength }} Zeichen
        lang sein.
    </div>
    <div *ngIf="errors['exactMatch'] as exactMatchError">
        Die Eingabe entspricht nicht
        <span class="font-monospace">{{ exactMatchError.stringToMatch }}</span
        >.
    </div>
</div>
