<div
    *ngFor="let eventBasedReport of eventBasedReports"
    class="row align-items-center m-3"
>
    <div class="col-auto">
        <input
            [id]="'eventBasedReportEditor_' + eventBasedReport.eventId"
            #timeInput="ngModel"
            [ngModel]="
                (reportBehaviorState$ | async)?.[eventBasedReport.enabledKey]
            "
            (appSaveOnTyping)="eventBasedReport.changeCallback($event)"
            type="checkbox"
            class="form-check-input no-validation"
        />
    </div>
    <div class="col-sm">
        <label [for]="'eventBasedReportEditor_' + eventBasedReport.eventId">
            {{ eventBasedReport.description }}
            <app-hotkey-indicator [hotkey]="eventBasedReport.hotkey" />
        </label>
    </div>
</div>
