<ng-container *ngIf="alarmGroups$ | async as alarmGroups">
    <ng-container *appLet="transferPoints$ | async as transferPoints">
        <form (ngSubmit)="sendAlarmGroup()">
            <div class="d-flex flex-row align-items-center">
                <label class="flex-shrink-1 text-nowrap">Alarmgruppe:</label>
                <button
                    [ngbPopover]="selectAlarmGroupTemplate"
                    #selectAlarmGroupPopover="ngbPopover"
                    placement="bottom"
                    [disabled]="(transferPoints?.length ?? 0) === 0"
                    [appAutofocus]="true"
                    tabindex="1"
                    class="btn btn-outline-primary flex-grow-1 flex-shrink-1 ms-2 d-flex flex-row"
                    style="width: 1px"
                    type="button"
                >
                    <span
                        class="flex-grow-1 flex-shrink-1 text-nowrap overflow-hidden"
                        style="text-overflow: ellipsis; width: 1px"
                    >
                        {{
                            selectedAlarmGroup
                                ? selectedAlarmGroup.name
                                : 'Alarmgruppe auswählen'
                        }}
                    </span>
                    <app-hotkey-indicator
                        [hotkey]="selectAlarmGroupHotkey"
                        class="flex-shrink-1 ms-1"
                    />
                    <i class="bi bi-caret-down-fill flex-shrink-1 ms-1"></i>
                </button>
                <ng-template #selectAlarmGroupTemplate>
                    <app-searchable-dropdown
                        *ngIf="(alarmGroups?.length ?? 0) !== 0"
                        [options]="alarmGroups!"
                        (selected)="
                            selectedAlarmGroup = $event;
                            selectAlarmGroupPopover.close()
                        "
                    />
                </ng-template>
            </div>
            <div class="d-flex flex-row align-items-center mt-2">
                <label class="flex-shrink-1 text-nowrap">Ziel:</label>
                <button
                    [ngbPopover]="selectTargetTemplate"
                    #selectTargetPopover="ngbPopover"
                    placement="bottom"
                    [disabled]="(transferPoints?.length ?? 0) === 0"
                    [appAutofocus]="true"
                    tabindex="1"
                    class="btn btn-outline-primary flex-grow-1 flex-shrink-1 ms-2 d-flex flex-row"
                    style="width: 1px"
                    type="button"
                >
                    <span
                        class="flex-grow-1 flex-shrink-1 text-nowrap overflow-hidden"
                        style="text-overflow: ellipsis; width: 1px"
                    >
                        {{
                            selectedTarget
                                ? selectedTarget.name
                                : 'Ziel auswählen'
                        }}
                    </span>
                    <app-hotkey-indicator
                        [hotkey]="selectTargetHotkey"
                        class="flex-shrink-1 ms-1"
                    />
                    <i class="bi bi-caret-down-fill flex-shrink-1 ms-1"></i>
                </button>
                <ng-template #selectTargetTemplate>
                    <app-searchable-dropdown
                        *ngIf="(transferPoints?.length ?? 0) !== 0"
                        [options]="transferPoints!"
                        (selected)="
                            selectedTarget = $event; selectTargetPopover.close()
                        "
                    />
                </ng-template>
            </div>
            <h6 class="fw-bold mt-4">
                Abweichendes Ziel für die ersten Fahrzeuge
            </h6>
            <div class="d-flex flex-row align-items-center mt-2">
                <label class="flex-shrink-1 text-nowrap"
                    >Anzahl Fahrzeuge:</label
                >
                <input
                    [(ngModel)]="firstVehiclesCount"
                    #firstVehiclesInput="ngModel"
                    appIntegerValidator
                    required
                    min="0"
                    step="1"
                    name="firstVehiclesCount"
                    type="number"
                    tabindex="2"
                    class="form-control flex-grow-1 flex-shrink-1 ms-2"
                    style="width: 1px"
                />
            </div>
            <app-display-validation [ngModelInput]="firstVehiclesInput" />
            <div class="d-flex flex-row align-items-center mt-2">
                <label class="flex-shrink-1 text-nowrap"
                    >Die ersten {{ firstVehiclesCount }} Fahrzeuge fahren
                    nach:</label
                >
                <button
                    [ngbPopover]="selectFirstVehiclesTargetTemplate"
                    #selectFirstVehiclesTargetPopover="ngbPopover"
                    placement="bottom"
                    [disabled]="
                        (transferPoints?.length ?? 0) === 0 ||
                        firstVehiclesCount < 1
                    "
                    [appAutofocus]="true"
                    tabindex="3"
                    class="btn btn-outline-primary flex-grow-1 flex-shrink-1 ms-2 d-flex flex-row"
                    style="width: 1px"
                    type="button"
                >
                    <span
                        class="flex-grow-1 flex-shrink-1 text-nowrap overflow-hidden"
                        style="text-overflow: ellipsis; width: 1px"
                    >
                        {{
                            selectedFirstVehiclesTarget
                                ? selectedFirstVehiclesTarget.name
                                : 'Ziel für die ersten Fahrzeuge auswählen'
                        }}
                    </span>
                    <app-hotkey-indicator
                        [hotkey]="selectFirstVehiclesTargetHotkey"
                        class="flex-shrink-1 ms-1"
                    />
                    <i class="bi bi-caret-down-fill flex-shrink-1 ms-1"></i>
                </button>
                <ng-template #selectFirstVehiclesTargetTemplate>
                    <app-searchable-dropdown
                        *ngIf="(transferPoints?.length ?? 0) !== 0"
                        [options]="transferPoints!"
                        (selected)="
                            selectedFirstVehiclesTarget = $event;
                            selectFirstVehiclesTargetPopover.close()
                        "
                    />
                </ng-template>
            </div>
            <span
                *ngIf="firstVehiclesCount > 0"
                class="row g-0 mt-2 text-muted"
            >
                Sollte die aktuelle Alarmgruppe weniger als
                {{ firstVehiclesCount }} Fahrzeuge haben, werden alle Fahrzeuge
                zum alternativen Zielort geschickt und die verbleibende Zahl an
                Fahrzeugen für die nächste Alarmgruppe übernommen.
            </span>
            <button
                class="btn btn-primary mt-4 row g-0 w-100"
                [tabIndex]="4"
                [disabled]="!canSubmit"
            >
                Sende Alarmgruppe
                <span
                    *ngIf="loading; else hotkey"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                ></span>
                <ng-template #hotkey>
                    <app-hotkey-indicator
                        [hotkey]="submitHotkey"
                        class="ms-1"
                    />
                </ng-template>
            </button>
            <span class="row g-0 mt-2 text-muted">
                Sie können mehrere Alarmgruppen nacheinander starten.
            </span>
        </form>
    </ng-container>
</ng-container>
