<div class="modal-header">
    <h4 class="modal-title">Fahrzeugvorlage hinzufügen</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <app-vehicle-template-form
        [initialValues]="{
            url: editableVehicleTemplateValues.url,
            height: editableVehicleTemplateValues.height,
            name: editableVehicleTemplateValues.name,
            type: editableVehicleTemplateValues.type,
            patientCapacity: editableVehicleTemplateValues.patientCapacity,
            materialTypes: editableVehicleTemplateValues.materialTypes,
            personnelTypes: editableVehicleTemplateValues.personnelTypes
        }"
        (submitVehicleTemplate)="createImageTemplate($event)"
        [btnText]="'Fahrzeugvorlage hinzufügen'"
    ></app-vehicle-template-form>
</div>
