<nav #nav="ngbNav" ngbNav class="nav-tabs">
    <ng-container ngbNavItem *ngIf="patient$ | async as patient">
        <a ngbNavLink data-cy="patientPopupGeneralNav">Allgemein</a>
        <ng-template ngbNavContent>
            <table class="table table-sm small mb-0">
                <tbody>
                    <tr>
                        <th scope="col">Identifikation</th>
                        <td class="font-monospace">
                            <app-patient-identifier [patientId]="patientId" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Alter</th>
                        <td class="font-monospace">
                            {{ patient.biometricInformation.age }}
                            <small>
                                {{ patient.personalInformation.birthdate }}
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Geschlecht</th>
                        <td
                            *appLet="patient.biometricInformation.sex as sex"
                            class="font-monospace"
                        >
                            {{
                                sex === 'male'
                                    ? 'männlich'
                                    : sex === 'female'
                                    ? 'weiblich'
                                    : 'unbestimmt'
                            }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Biometrie</th>
                        <td class="font-monospace">
                            {{ patient.biometricInformation.externalFeatures }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Adresse</th>
                        <td class="font-monospace">
                            {{ patient.personalInformation.address }}
                        </td>
                    </tr>
                    <ng-container
                        *ngIf="(currentRole$ | async) !== 'participant'"
                    >
                        <tr>
                            <th scope="col">Beschreibung</th>
                            <td
                                class="font-monospace fs-5 d-flex justify-content-start"
                            >
                                <app-patient-status-display
                                    [patientStatus]="patient.patientStatusCode"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Verletzungs-Geschwindigkeit</th>
                            <td class="font-monospace">
                                &times;{{ patient.timeSpeed }}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="small fw-bold p-1">Anmerkungen</div>
            <div class="p-1">
                <textarea
                    [ngModel]="patient.remarks"
                    (appSaveOnTyping)="updateRemarks($event)"
                    [appAutofocus]="true"
                    maxlength="65535"
                    placeholder="Schreiben Sie Informationen über den Patienten in dieses Feld..."
                    class="form-control form-control-sm no-validation w-100"
                    style="height: 100px; resize: none"
                    data-cy="patientPopupRemarksTextarea"
                ></textarea>
            </div>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem *ngIf="patient$ | async as patient">
        <a ngbNavLink data-cy="patientPopupTriageNav">{{
            (configuration$ | async)?.pretriageEnabled
                ? 'Vorsichtung'
                : 'Erstbefund'
        }}</a>
        <ng-template ngbNavContent>
            <table class="table table-sm small mb-0">
                <tbody>
                    <tr *ngIf="(configuration$ | async)?.pretriageEnabled">
                        <th>Vorsichtung</th>
                        <td>
                            <div
                                ngbDropdown
                                placement="bottom-end"
                                class="d-inline-block float-end"
                            >
                                <button
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                    style="min-width: 150px"
                                    ngbDropdownToggle
                                    [disabled]="
                                        (pretriageStatusIsLocked$ | async) ??
                                        false
                                    "
                                    data-cy="patientPopupPretriageButton"
                                >
                                    <app-patient-status-badge
                                        *ngIf="
                                            visibleStatus$
                                                | async as currentStatus
                                        "
                                        [status]="currentStatus"
                                    >
                                    </app-patient-status-badge>
                                </button>
                                <div ngbDropdownMenu class="position-absolute">
                                    <button
                                        *ngFor="
                                            let option of pretriageOptions$
                                                | async
                                        "
                                        ngbDropdownItem
                                        (click)="setPretriageCategory(option)"
                                        class="btn-outline-secondary"
                                        data-cy="patientPopupPretriageButtonDropdown"
                                    >
                                        <app-patient-status-badge
                                            [status]="option"
                                            class="float-end"
                                        >
                                        </app-patient-status-badge>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Verletzungen</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.injuries }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">ausführlicher Body-Check</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.bodyCheck }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Atmung</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.breathing }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Bewusstsein</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.awareness }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Puls</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.pulse }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Haut</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.skin }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Schmerzen</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.pain }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Pupillen</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.pupils }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Psyche</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.psyche }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Hörvermögen</th>
                        <td class="font-monospace">
                            {{ patient.pretriageInformation.hearing }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ng-container>
</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
