<ng-container *ngIf="simulatedRegion$ | async as simulatedRegion">
    <h5 class="popover-header">
        Simulierter Bereich {{ simulatedRegion.name }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
            data-cy="simulatedRegionPopupCloseButton"
        ></button>
        <a
            (click)="openInModal()"
            role="button"
            class="link-secondary float-end me-2"
            placement="bottom"
            ngbTooltip="In der Simulationsübersicht öffnen"
        >
            <i class="bi bi-box-arrow-up-right"></i>
        </a>
    </h5>
    <div class="popover-body" style="width: 650px; height: 400px">
        <ng-container *ngIf="(currentRole$ | async) === 'trainer'">
            <app-simulated-region-overview-general
                [simulatedRegionId]="simulatedRegion.id"
            />
        </ng-container>
    </div>
</ng-container>
