<ng-container *ngIf="simulatedRegion$ | async as simulatedRegion">
    <h5 class="popover-header">
        Simulierter Bereich {{ simulatedRegion.name }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
            data-cy="simulatedRegionPopupCloseButton"
        ></button>
    </h5>
    <div class="popover-body" style="width: 350px; height: 300px">
        <ng-container *ngIf="(currentRole$ | async) === 'trainer'">
            <app-simulated-region-overview-general
                [simulatedRegion]="simulatedRegion"
            />
        </ng-container>
    </div>
</ng-container>
