<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button
        type="button"
        class="btn-close"
        (click)="confirmation$.next(null); activeModal.close()"
    ></button>
</div>
<div class="modal-body">
    <div>{{ description }}</div>
    <div *ngIf="confirmationString" class="mt-3">
        Wiederholen Sie den folgenden Bestätigungskey:
        <div class="text-center font-monospace mb-3 fw-bolder fs-5">
            {{ confirmationString }}
        </div>
        <input
            #confirmationInput="ngModel"
            [(ngModel)]="confirmationStringValue"
            [appAutofocus]="true"
            [appExactMatchValidator]="confirmationString"
            class="form-control"
            placeholder="Bestätigungskey hier eingeben..."
            type="text"
        />
        <app-display-validation
            [ngModelInput]="confirmationInput"
        ></app-display-validation>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-danger"
        [disabled]="
            confirmationString && confirmationStringValue !== confirmationString
        "
        (click)="confirmation$.next(true); activeModal.close()"
    >
        Ok
    </button>
    <button
        type="button"
        class="btn btn-outline-secondary"
        autofocus
        (click)="confirmation$.next(false); activeModal.close()"
    >
        Abbrechen
    </button>
</div>
