<h5>Transportstatus</h5>

<ng-container *appLet="radiogram$ | async as radiogram">
    <p *ngIf="radiogram.scope === 'singleRegion'">Für diese Patientenablage.</p>
    <p *ngIf="radiogram.scope === 'transportManagement'">
        Für alle von dieser Transportorganisation verwalteten Patientenablagen.
    </p>

    <table class="table table-sm w-100">
        <thead>
            <tr>
                <th>SK</th>
                <th>Abtransportiert</th>
                <th>Verbleibend</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of alwaysShowCategories">
                <td>
                    <app-patient-status-badge [status]="category" />
                </td>
                <td>
                    {{ radiogram.transferredPatientsCounts[category] }}
                </td>
                <td>
                    {{ radiogram.remainingPatientsCounts[category] }}
                </td>
            </tr>
            <ng-container
                *ngFor="let category of showIfTransferredOrRemainingCategories"
            >
                <tr
                    *ngIf="
                        radiogram.transferredPatientsCounts[category] > 0 ||
                        radiogram.remainingPatientsCounts[category] > 0
                    "
                >
                    <td>
                        <app-patient-status-badge [status]="category" />
                    </td>
                    <td>
                        {{ radiogram.transferredPatientsCounts[category] }}
                    </td>
                    <td>
                        {{ radiogram.remainingPatientsCounts[category] }}
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngFor="let category of showIfTransferredCategories">
                <tr *ngIf="radiogram.transferredPatientsCounts[category] > 0">
                    <td>
                        <app-patient-status-badge [status]="category" />
                    </td>
                    <td>
                        {{ radiogram.transferredPatientsCounts[category] }}
                    </td>
                    <td>
                        {{ radiogram.remainingPatientsCounts[category] }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>
