<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Viewport</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients$ | async | keyvalue">
            <td>
                {{ client.value.name }}
            </td>
            <td>
                {{ client.value.role }}
            </td>
            <td>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" ngbDropdownToggle>
                        <ng-container
                            *ngIf="
                                client.value.viewRestrictedToViewportId ===
                                undefined
                            "
                        >
                            None
                        </ng-container>
                        <ng-container
                            *ngIf="
                                client.value.viewRestrictedToViewportId !==
                                undefined
                            "
                        >
                            <ng-container
                                *ngFor="
                                    let viewport of viewports$
                                        | async
                                        | keyvalue
                                "
                            >
                                <ng-container
                                    *ngIf="
                                        viewport.key ===
                                        client.value.viewRestrictedToViewportId
                                    "
                                >
                                    {{ viewport.value.name }}
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </button>
                    <div ngbDropdownMenu>
                        <ng-container
                            *ngFor="
                                let viewport of viewports$ | async | keyvalue
                            "
                        >
                            <button
                                ngbDropdownItem
                                (click)="
                                    restrictToViewport(client.key, viewport.key)
                                "
                            >
                                {{ viewport.value.name }}
                            </button>
                        </ng-container>
                        <button
                            ngbDropdownItem
                            (click)="restrictToViewport(client.key, undefined)"
                        >
                            None
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
