<div class="container-fluid d-flex flex-column h-100">
    <div class="rounded overflow-hidden flex-fill">
        <app-exercise-map></app-exercise-map>
    </div>
    <ng-container
        *ngIf="apiService.timeConstraints$ | async as timeConstraints"
    >
        <div class="pt-2">
            <div class="d-inline-block">
                <span
                    class="fw-bolder fs-4 font-monospace align-top me-3"
                    title="Aktuelle Zeit"
                    >{{ timeConstraints.current | formatDuration }}</span
                >
                <button
                    *ngIf="isReplaying"
                    class="btn btn-sm btn-primary"
                    title="Pause"
                    (click)="stopReplay()"
                >
                    <i class="bi-pause-fill"></i>
                </button>
                <ng-container *ngIf="!isReplaying">
                    <button
                        *ngIf="timeConstraints.current < timeConstraints.end"
                        class="btn btn-sm btn-primary"
                        title="Abspielen"
                        (click)="startReplay()"
                    >
                        <i class="bi-play-fill"></i>
                    </button>
                    <button
                        *ngIf="timeConstraints.current >= timeConstraints.end"
                        class="btn btn-sm btn-primary"
                        title="Erneut abspielen"
                        (click)="restartReplay()"
                    >
                        <i class="bi-arrow-counterclockwise"></i>
                    </button>
                </ng-container>
                <div class="ms-3 d-inline-block">
                    <select
                        [ngModel]="replaySpeed"
                        (ngModelChange)="setReplaySpeed($event)"
                        class="form-select form-select-sm d-inline-block no-validation"
                        title="Abspielgeschwindigkeit"
                    >
                        <option
                            *ngFor="let option of replaySpeedOptions"
                            [value]="option"
                        >
                            &times; {{ option }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="float-end">
                <button
                    (click)="openClientOverview()"
                    class="btn btn-primary btn-sm"
                >
                    Teilnehmerübersicht
                </button>
                <button
                    (click)="openTransferOverview()"
                    class="btn btn-primary btn-sm ms-3"
                >
                    Transferübersicht
                </button>
                <button
                    (click)="openExerciseStatisticsModal()"
                    class="btn btn-primary btn-sm ms-3"
                >
                    Statistiken
                </button>
                <button
                    (click)="createNewExerciseFromTheCurrentState()"
                    class="btn btn-primary btn-sm ms-5"
                >
                    Neue Übung an dieser Stelle erstellen
                </button>
            </div>
        </div>
        <div class="pt-1">
            <input
                type="range"
                [min]="timeConstraints.start"
                [max]="timeConstraints.end"
                step="1000"
                class="form-range w-100"
                [disabled]="timeConstraints.start >= timeConstraints.end"
                [ngModel]="timeConstraints.current"
                (ngModelChange)="jumpToTime($event)"
            />
            <span class="text-muted font-monospace small">{{
                timeConstraints.start | formatDuration
            }}</span>
            <span class="float-end text-muted font-monospace small">{{
                timeConstraints.end | formatDuration
            }}</span>
        </div>
    </ng-container>
</div>
