<div class="container-fluid d-flex flex-column h-100">
    <div class="rounded overflow-hidden flex-fill">
        <app-exercise-map></app-exercise-map>
    </div>
    <div class="pt-2">
        <button (click)="openClientOverview()" class="btn btn-primary ms-3">
            Teilnehmerübersicht
        </button>
        <button (click)="openTransferOverview()" class="btn btn-primary ms-3">
            Transferübersicht
        </button>
        <button
            (click)="openExerciseStatisticsModal()"
            class="btn btn-primary ms-3"
        >
            Statistiken
        </button>
    </div>
    <div
        *ngIf="apiService.timeConstraints$ | async as timeConstraints"
        class="pt-3"
    >
        <input
            type="range"
            [min]="timeConstraints.start"
            [max]="timeConstraints.end"
            step="1000"
            class="form-range w-100"
            [disabled]="timeConstraints.start === timeConstraints.end"
            [ngModel]="timeConstraints.current"
            (ngModelChange)="apiService.jumpToTime($event)"
        />
    </div>
</div>
