<h5 class="card-title">Meldung über Patientenanzahlen</h5>
<p class="card-text" *ngIf="(totalPatientCount$ | async) === 0">
    Derzeit befinden sich hier keine Patienten.
</p>
<p
    class="card-text"
    *ngIf="
        (totalPatientCount$ | async)! > 0 &&
        (radiogram$ | async)!.patientCount.white ===
            (totalPatientCount$ | async)
    "
>
    Derzeit befinden sich hier
    {{ totalPatientCount$ | async }} Patienten, die jedoch noch nicht gesichtet
    wurden.
</p>
<p
    class="card-text"
    *ngIf="
        (totalPatientCount$ | async)! > 0 &&
        (radiogram$ | async)!.patientCount.white === 0
    "
>
    Derzeit befinden sich hier
    {{ totalPatientCount$ | async }} Patienten, die wie folgt gesichtet wurden:
</p>
<p
    class="card-text"
    *ngIf="
        (totalPatientCount$ | async)! > 0 &&
        (radiogram$ | async)!.patientCount.white > 0 &&
        (radiogram$ | async)!.patientCount.white !==
            (totalPatientCount$ | async)
    "
>
    Derzeit befinden sich hier
    {{ totalPatientCount$ | async }} Patienten, von denen
    {{
        (totalPatientCount$ | async)! - (radiogram$ | async)!.patientCount.white
    }}
    wie folgt gesichtet wurden:
</p>
<table *ngIf="(totalPatientCount$ | async)! > 0" class="table card-text">
    <thead>
        <tr>
            <th class="w-75">SK</th>
            <th class="w-25">Anzahl</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngIf="
                (radiogram$ | async)!.patientCount.white !==
                (totalPatientCount$ | async)
            "
        >
            <td>
                <app-patient-status-badge
                    [status]="'red'"
                ></app-patient-status-badge>
            </td>
            <td>
                {{
                    (radiogram$ | async)!.patientCount.red +
                        ((bluePatientsEnabled$ | async)
                            ? 0
                            : (radiogram$ | async)!.patientCount.blue)
                }}
            </td>
        </tr>
        <tr
            *ngIf="
                (radiogram$ | async)!.patientCount.white !==
                (totalPatientCount$ | async)
            "
        >
            <td>
                <app-patient-status-badge
                    [status]="'yellow'"
                ></app-patient-status-badge>
            </td>
            <td>{{ (radiogram$ | async)!.patientCount.yellow }}</td>
        </tr>
        <tr
            *ngIf="
                (radiogram$ | async)!.patientCount.white !==
                (totalPatientCount$ | async)
            "
        >
            <td>
                <app-patient-status-badge
                    [status]="'green'"
                ></app-patient-status-badge>
            </td>
            <td>{{ (radiogram$ | async)!.patientCount.green }}</td>
        </tr>
        <tr
            *ngIf="
                (bluePatientsEnabled$ | async) &&
                (radiogram$ | async)!.patientCount.white !==
                    (totalPatientCount$ | async)
            "
        >
            <td>
                <app-patient-status-badge
                    [status]="'blue'"
                ></app-patient-status-badge>
            </td>
            <td>{{ (radiogram$ | async)!.patientCount.blue }}</td>
        </tr>
        <tr
            *ngIf="
                (radiogram$ | async)!.patientCount.white !==
                (totalPatientCount$ | async)
            "
        >
            <td>
                <app-patient-status-badge
                    [status]="'black'"
                ></app-patient-status-badge>
            </td>
            <td>{{ (radiogram$ | async)!.patientCount.black }}</td>
        </tr>
        <tr *ngIf="(radiogram$ | async)!.patientCount.white !== 0">
            <td>
                <app-patient-status-badge
                    [status]="'white'"
                ></app-patient-status-badge>
            </td>
            <td>{{ (radiogram$ | async)!.patientCount.white }}</td>
        </tr>
    </tbody>
</table>
