<ng-container *appLet="totalPatientCount$ | async as totalPatientCount">
    <ng-container *ngIf="totalPatientCount !== null">
        <ng-container *ngIf="radiogram$ | async as radiogram"
            ><h5 class="card-title">Meldung über Patientenanzahlen</h5>
            <p class="card-text" *ngIf="totalPatientCount === 0">
                Derzeit befinden sich hier keine Patienten.
            </p>
            <p
                class="card-text"
                *ngIf="
                    totalPatientCount > 0 &&
                    radiogram.patientCount.white === totalPatientCount
                "
            >
                Derzeit befinden sich hier
                {{ totalPatientCount }} Patienten, die jedoch noch nicht
                gesichtet wurden.
            </p>
            <p
                class="card-text"
                *ngIf="
                    totalPatientCount > 0 && radiogram.patientCount.white === 0
                "
            >
                Derzeit befinden sich hier
                {{ totalPatientCount }} Patienten, die wie folgt gesichtet
                wurden:
            </p>
            <p
                class="card-text"
                *ngIf="
                    totalPatientCount > 0 &&
                    radiogram.patientCount.white > 0 &&
                    radiogram.patientCount.white !== totalPatientCount
                "
            >
                Derzeit befinden sich hier
                {{ totalPatientCount }} Patienten, von denen
                {{ totalPatientCount - radiogram.patientCount.white }} wie folgt
                gesichtet wurden:
            </p>
            <table *ngIf="totalPatientCount > 0" class="table card-text">
                <thead>
                    <tr>
                        <th class="w-75">SK</th>
                        <th class="w-25">Anzahl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngIf="
                            radiogram.patientCount.white !== totalPatientCount
                        "
                    >
                        <td>
                            <app-patient-status-badge
                                [status]="'red'"
                            ></app-patient-status-badge>
                        </td>
                        <td>
                            {{
                                radiogram.patientCount.red +
                                    ((bluePatientsEnabled$ | async)
                                        ? 0
                                        : radiogram.patientCount.blue)
                            }}
                        </td>
                    </tr>
                    <tr
                        *ngIf="
                            radiogram.patientCount.white !== totalPatientCount
                        "
                    >
                        <td>
                            <app-patient-status-badge
                                [status]="'yellow'"
                            ></app-patient-status-badge>
                        </td>
                        <td>{{ radiogram.patientCount.yellow }}</td>
                    </tr>
                    <tr
                        *ngIf="
                            radiogram.patientCount.white !== totalPatientCount
                        "
                    >
                        <td>
                            <app-patient-status-badge
                                [status]="'green'"
                            ></app-patient-status-badge>
                        </td>
                        <td>{{ radiogram.patientCount.green }}</td>
                    </tr>
                    <tr
                        *ngIf="
                            (bluePatientsEnabled$ | async) &&
                            radiogram.patientCount.white !== totalPatientCount
                        "
                    >
                        <td>
                            <app-patient-status-badge
                                [status]="'blue'"
                            ></app-patient-status-badge>
                        </td>
                        <td>{{ radiogram.patientCount.blue }}</td>
                    </tr>
                    <tr
                        *ngIf="
                            radiogram.patientCount.white !== totalPatientCount
                        "
                    >
                        <td>
                            <app-patient-status-badge
                                [status]="'black'"
                            ></app-patient-status-badge>
                        </td>
                        <td>{{ radiogram.patientCount.black }}</td>
                    </tr>
                    <tr *ngIf="radiogram.patientCount.white !== 0">
                        <td>
                            <app-patient-status-badge
                                [status]="'white'"
                            ></app-patient-status-badge>
                        </td>
                        <td>{{ radiogram.patientCount.white }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</ng-container>
