<div
    *ngIf="apiService.currentRole$ | async as role"
    class="p-2 d-flex flex-column"
    style="height: 100vh"
>
    <div class="container">
        <h2>
            Übung:
            <span class="font-monospace fw-bold user-select-all">{{
                participantId$ | async
            }}</span>
            <ng-container *ngIf="role !== 'timeTravel'; else timeTravelButton">
                <app-exercise-state-badge
                    class="ms-3"
                ></app-exercise-state-badge>
                <button
                    *ngIf="participantId$ | async as participantId"
                    (click)="shareExercise(participantId)"
                    class="btn btn-light ms-3"
                >
                    Teilnehmerlink teilen
                </button>
                <button
                    *ngIf="role !== 'participant'"
                    (click)="shareExercise(apiService.exerciseId!)"
                    class="btn btn-outline-warning ms-3"
                >
                    Übungsleiterlink teilen
                </button>
            </ng-container>
            <ng-template #timeTravelButton>
                <button
                    *ngIf="role === 'timeTravel'"
                    class="btn btn-outline-primary ms-3"
                    (click)="leaveTimeTravel()"
                >
                    <i class="bi-box-arrow-left"></i>
                    Aufzeichnung verlassen
                </button>
            </ng-template>
        </h2>
    </div>

    <div class="flex-fill">
        <ng-container
            *ngIf="
                !(apiService.ownClient$ | async)?.isInWaitingRoom;
                else waitingRoomTemplate
            "
        >
            <div
                *ngIf="role === 'participant'"
                class="h-100 rounded overflow-hidden"
            >
                <app-exercise-map></app-exercise-map>
            </div>
            <ng-container>
                <app-trainer-map-editor
                    *ngIf="role === 'trainer'"
                ></app-trainer-map-editor>
                <app-time-travel
                    *ngIf="role === 'timeTravel'"
                ></app-time-travel>
            </ng-container>
        </ng-container>
        <ng-template #waitingRoomTemplate>
            <div class="container">
                <br />
                <div class="p-5 bg-light rounded-3">
                    <p class="lead mb-0">
                        Sie sind im Warteraum. Bitte warten Sie, bis ein
                        Übungsleiter Sie zuweist.
                    </p>
                    <!-- TODO: Add a nice waiting animation to fill the space -->
                </div>
            </div>
        </ng-template>
    </div>
</div>
