<div
    *ngIf="apiService.currentRole$ | async as role"
    class="p-2 d-flex flex-column"
    style="height: 100vh"
>
    <div class="container">
        <h2>
            Übung:
            <ng-container *ngIf="participantId$ | async as participantId">
                <span class="font-monospace fw-bold user-select-all">{{
                    participantId
                }}</span>
                <app-exercise-state-badge
                    class="ms-3"
                ></app-exercise-state-badge>
                <button
                    (click)="shareExercise(participantId)"
                    class="btn btn-light ms-3"
                >
                    Teilnehmerlink teilen
                </button>
            </ng-container>
            <button
                *ngIf="role !== 'participant'"
                (click)="shareExercise(exerciseId!)"
                class="btn btn-outline-warning ms-3"
            >
                Übungsleiterlink teilen
            </button>

            <div
                *ngIf="role !== 'participant'"
                class="form-check form-switch d-inline-block float-end"
            >
                <input
                    class="form-check-input"
                    type="checkbox"
                    [ngModel]="apiService.isTimeTraveling"
                    (ngModelChange)="apiService.toggleTimeTravel()"
                />
                <label class="form-check-label">Zeitreise</label>
            </div>
        </h2>
    </div>

    <div class="flex-fill">
        <ng-container
            *ngIf="
                !(apiService.ownClient$ | async)?.isInWaitingRoom;
                else waitingRoomTemplate
            "
        >
            <div
                *ngIf="role === 'participant'"
                class="h-100 rounded overflow-hidden"
            >
                <app-exercise-map></app-exercise-map>
            </div>
            <ng-container>
                <app-trainer-map-editor
                    *ngIf="role === 'trainer'"
                ></app-trainer-map-editor>
                <app-time-travel
                    *ngIf="role === 'timeTravel'"
                ></app-time-travel>
            </ng-container>
        </ng-container>
        <ng-template #waitingRoomTemplate>
            <div class="container">
                <br />
                <div class="p-5 bg-light rounded-3">
                    <p class="lead mb-0">
                        Sie sind im Warteraum. Bitte warten Sie, bis ein
                        Übungsleiter Sie zuweist.
                    </p>
                    <!-- TODO: Add a nice waiting animation to fill the space -->
                </div>
            </div>
        </ng-template>
    </div>
</div>
