<ng-container [ngSwitch]="radiogram.type">
    <app-radiogram-card-content-vehicle-count
        *ngSwitchCase="'vehicleCountRadiogram'"
        [radiogramId]="radiogram.id"
    ></app-radiogram-card-content-vehicle-count>
    <app-radiogram-card-content-treatment-status
        *ngSwitchCase="'treatmentStatusRadiogram'"
        [radiogramId]="radiogram.id"
    ></app-radiogram-card-content-treatment-status>
    <app-radiogram-card-content-personnel-count
        *ngSwitchCase="'personnelCountRadiogram'"
        [radiogramId]="radiogram.id"
    ></app-radiogram-card-content-personnel-count>
    <app-radiogram-card-content-fallback
        *ngSwitchDefault
        [radiogramType]="radiogram.type"
    ></app-radiogram-card-content-fallback>
    <app-radiogram-card-content-material-count
        *ngSwitchCase="'materialCountRadiogram'"
        [radiogramId]="radiogram.id"
    ></app-radiogram-card-content-material-count>
</ng-container>
