<div
    *ngIf="messageService.alertMessages$ | async as messages"
    style="
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 10000;
        opacity: 0.95;
    "
    class="container"
>
    <!-- Show the 5 newest alerts, the newest should appear on the bottom -->
    <div
        *ngFor="
            let message of messages | slice: -5;
            trackBy: 'id' | appTrackByProperty: messages
        "
        (mouseenter)="message.destroyTimer?.pause()"
        (mouseleave)="message.destroyTimer?.start()"
        (click)="message.increaseDestroyTimeout(null)"
        @fade
        [ngClass]="
            'alert alert-' + message.config.color + ' alert-dismissible show'
        "
    >
        <app-custom-timer-progress-bar
            *ngIf="message.destroyTimer"
            [timer]="message.destroyTimer"
            [color]="message.config.color"
            style="
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                color: inherit;
                width: 100%;
            "
        ></app-custom-timer-progress-bar>
        <h4 class="alert-heading">
            <!-- TODO: Display an icon according to the color https://github.com/hpi-sam/digital-fuesim-manv/issues/184 -->
            {{ message.config.title }}
            <span
                *ngIf="message.amount > 1"
                class="ms-2 badge badge-secondary"
                >{{ message.amount }}</span
            >
        </h4>
        <button
            type="button"
            class="btn-close"
            (click)="message.destroy()"
        ></button>
        <app-message-body [message]="message"></app-message-body>
    </div>
</div>
