<ng-container *ngIf="vehicle$ | async as vehicle">
    <h5 class="popover-header">
        {{ vehicle.name }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body">
        <ng-container *ngIf="(apiService.currentRole$ | async) === 'trainer'">
            <div class="form-group pb-3">
                <label class="form-label">Fahrzeugname</label>
                <input
                    #nameInput="ngModel"
                    [(ngModel)]="name"
                    [maxlength]="16"
                    required
                    type="text"
                    class="form-control"
                />
                <app-display-validation
                    [ngModelInput]="nameInput"
                ></app-display-validation>
            </div>
            <button
                [disabled]="nameInput.invalid"
                (click)="renameVehicle()"
                class="btn btn-warning"
            >
                Speichern
            </button>
        </ng-container>
        <div class="mt-3 mb-3">
            Verfügbare Patientenplätze:
            {{
                vehicle.patientCapacity - (vehicle.patientIds | keyvalue).length
            }}
        </div>

        <button
            (click)="unloadVehicle()"
            [disabled]="vehicleIsCompletelyUnloaded$ | async"
            class="btn btn-primary"
        >
            Alle aussteigen
        </button>
    </div>
</ng-container>
