<div class="modal-header">
    <h4 class="modal-title">Bild hinzufügen</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <app-image-template-form
        [initialValues]="{
            url: editableImageTemplateValues.url,
            height: editableImageTemplateValues.height,
            name: editableImageTemplateValues.name
        }"
        (submitImageTemplate)="createImageTemplate($event)"
        [btnText]="'Bild hinzufügen'"
    ></app-image-template-form>
</div>
