<span
    *ngIf="exerciseStatus$ | async as exerciseStatus"
    class="badge rounded-pill bg-light text-dark"
    title="Übung {{
        exerciseStatus === 'notStarted'
            ? 'wurde noch nicht gestartet'
            : exerciseStatus === 'running'
              ? 'läuft'
              : 'pausiert'
    }}"
    [class.text-muted]="exerciseStatus !== 'running'"
>
    <i *ngIf="exerciseStatus === 'notStarted'" class="bi bi-stop-fill"></i>
    <i *ngIf="exerciseStatus === 'paused'" class="bi bi-pause-fill"></i>
    <i *ngIf="exerciseStatus === 'running'" class="bi bi-play-fill"></i>
    {{ currentTime$ | async | date: 'H:mm:ss' : 'UTC' }}
</span>
