<div class="modal-header">
    <h4 class="modal-title">Bild bearbeiten</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div *ngIf="mapImageTemplate" class="modal-body">
    <app-image-template-form
        [imageTemplate]="mapImageTemplate"
        (submitImageTemplate)="editMapImageTemplate()"
        [btnText]="'Speichern'"
    ></app-image-template-form>

    <button class="btn btn-danger float-end" (click)="deleteMapImageTemplate()">
        <i class="bi bi-trash-fill"></i>
        Löschen
    </button>
</div>
