<ng-container
    *ngIf="radiogram.informationAvailable; else informationUnavailable"
    [ngSwitch]="radiogram.type"
>
    <app-radiogram-card-content-vehicle-count
        *ngSwitchCase="'vehicleCountRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-vehicle-occupations
        *ngSwitchCase="'vehicleOccupationsRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-patient-count
        *ngSwitchCase="'patientCountRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-treatment-status
        *ngSwitchCase="'treatmentStatusRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-personnel-count
        *ngSwitchCase="'personnelCountRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-material-count
        *ngSwitchCase="'materialCountRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-missing-transfer-connection
        *ngSwitchCase="'missingTransferConnectionRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-resource-request
        *ngSwitchCase="'resourceRequestRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-transfer-connections
        *ngSwitchCase="'transferConnectionsRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-transfer-counts
        *ngSwitchCase="'transferCountsRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-transfer-category-completed
        *ngSwitchCase="'transferCategoryCompletedRadiogram'"
        [radiogramId]="radiogram.id"
    />
    <app-radiogram-card-content-transport-patient-count-request
        *ngSwitchCase="'newPatientDataRequestedRadiogram'"
    />
    <app-radiogram-card-content-fallback
        *ngSwitchDefault
        [radiogramType]="radiogram.type"
    />
</ng-container>
<ng-template #informationUnavailable>
    <app-radiogram-card-content-information-unavailable
        [radiogramType]="radiogram.type"
    />
</ng-template>
