<ng-container *ngIf="material$ | async as material">
    <h5 class="popover-header">
        Material aus {{ material.vehicleName }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body" style="max-width: 350px">
        Dieses Material
        <span
            *ngIf="
                (material.canCaterFor | caterCapacityCount) === 0;
                else caterInfo
            "
        >
            kann nicht zur Versorgung von Patienten genutzt werden.</span
        >
        <ng-template #caterInfo>
            <span>{{
                material.canCaterFor.logicalOperator === 'or'
                    ? ' kann nur bei Patienten einer der unten gelisteten Sichtungskategorie gleichzeitig genutzt werden.'
                    : ' kann bei Patienten verschiedener Sichtungskategorien gleichzeitig genutzt werden. Dabei kann es zur Versorgung von Patienten einer niedriger priorisierten Sichtungskategorie genutzt werden.'
            }}</span>
            <app-cater-capacity
                [canCaterFor]="material.canCaterFor"
            ></app-cater-capacity>
        </ng-template>
    </div>
</ng-container>
