openapi: 3.0.3
info:
    title: Digital Fuesim MANV HTTP API
    description: HTTP API of the digital-fuesim-manv project
    version: 0.0.0
paths:
    /api/health:
        get:
            summary: Gets service health
            operationId: getHealth
            responses:
                200:
                    description: Service operational
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HealthResponse'
                503:
                    description: Service not operational
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HealthResponse'
    /api/exercise:
        post:
            summary: Create a new exercise
            operationId: createExercise
            responses:
                201:
                    description: Exercise successfully created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ExerciseIdResponse'
                503:
                    description: Exercise could not be created due to a lack of ids
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
    /api/exercise/{exerciseId}:
        parameters:
            - $ref: '#/components/parameters/ExerciseId'
        get:
            summary: Check whether an exercise id exists
            operationId: getExercise
            responses:
                200:
                    description: Exercise exists
                404:
                    description: Exercise does not exist
        delete:
            summary: Delete an exercise
            operationId: deleteExercise
            responses:
                204:
                    description: Exercise deleted
                403:
                    description: Tried to delete exercise using participant id
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                404:
                    description: Exercise not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
    /api/exercise/{exerciseId}/history:
        parameters:
            - $ref: '#/components/parameters/ExerciseId'
        get:
            summary: Get the history of the exercise
            operationId: getExerciseHistory
            responses:
                200:
                    description: Exercise history in the payload (TODO:)
                404:
                    description: Exercise does not exist
components:
    schemas:
        HealthResponse:
            type: object
            properties:
                status:
                    type: string
                    description: Current status of the server
        ExerciseIdResponse:
            type: object
            properties:
                participantId:
                    type: string
                    description: Participant id of the exercise
                trainerId:
                    type: string
                    description: Trainer id of the exercise
        ErrorResponse:
            type: object
            properties:
                message:
                    type: string
                    description: Error message
    parameters:
        ExerciseId:
            name: exerciseId
            in: path
            description: The exercise id
            required: true
            schema:
                type: string
                example: '123456'
