<h5>Transport für SK abgeschlossen</h5>

<ng-container *appLet="radiogram$ | async as radiogram">
    <span>
        In
        <strong *ngIf="radiogram.scope === 'singleRegion'">
            dieser Patientenablage
        </strong>
        <strong *ngIf="radiogram.scope === 'transportManagement'">
            allen von dieser Transportorganisation verwalteten Patientenablagen
        </strong>
        ist der Abtransport der Patienten mit Sichtungskategorie
    </span>
    <app-patient-status-badge [status]="radiogram.completedCategory" />
    <span> abgeschlossen.</span>
</ng-container>
