<div class="form-group mb-3">
    <label class="form-label">Bildadresse:</label>
    <input
        #imageUrlInput="ngModel"
        [(ngModel)]="imageTemplate.image.url"
        [appAutofocus]="true"
        appImageExistsValidator
        required
        type="url"
        class="form-control"
        placeholder="https://example.com/image.png"
    />
    <app-display-validation
        [ngModelInput]="imageUrlInput"
    ></app-display-validation>
</div>
<div class="form-group mb-3">
    <label class="form-label">Name:</label>
    <input
        #nameInput="ngModel"
        [(ngModel)]="imageTemplate.name"
        required
        type="text"
        class="form-control"
        placeholder="Bildname"
    />
    <app-display-validation [ngModelInput]="nameInput"></app-display-validation>
</div>
<div class="form-group mb-3">
    <label class="form-label">Höhe:</label>
    <input
        #heightInput="ngModel"
        [(ngModel)]="imageTemplate.image.height"
        required
        type="number"
        class="form-control"
        placeholder="100"
    />
    <app-display-validation
        [ngModelInput]="heightInput"
    ></app-display-validation>
</div>

<!-- If the button is not disabled the imageTemplate is correct -->
<button
    (click)="submitImageTemplate.emit($any(imageTemplate))"
    [disabled]="
        imageUrlInput.invalid || nameInput.invalid || heightInput.invalid
    "
    class="btn btn-primary"
>
    {{ btnText }}
</button>
