<ng-container>
    <h5 class="card-title">Behandlungsphase</h5>
    <p class="card-text">
        <ng-container [ngSwitch]="(radiogram$ | async)?.treatmentStatus">
            <ng-container *ngSwitchCase="'unknown'"
                >Die <span class="fw-semibold">Erkundung der Lage</span> hat
                begonnen.</ng-container
            >
            <ng-container *ngSwitchCase="'counted'"
                >Die <span class="fw-semibold">Vorsichtung</span> hat
                begonnen.</ng-container
            >
            <ng-container *ngSwitchCase="'secured'"
                >Die <span class="fw-semibold">Erstversorgung</span> ist
                <span class="fw-semibold">sichergestellt</span>.</ng-container
            >
            <ng-container *ngSwitchCase="'triaged'"
                >Die <span class="fw-semibold">Behandling</span> hat begonnen.
                <span class="fw-semibold">Es fehlt an Personal</span
                >.</ng-container
            >
        </ng-container>
    </p>
</ng-container>
