<div *ngIf="errors && ngModelInput.dirty" class="mt-2 text-danger">
    <div *ngIf="errors['required']">Diese Eingabe ist erforderlich.</div>
    <div *ngIf="errors['minlength'] as minLengthError">
        Die Eingabe muss mindestens {{ minLengthError.requiredLength }} Zeichen
        lang sein. Es fehlen noch
        {{ minLengthError.requiredLength - minLengthError.actualLength }}
        Zeichen.
    </div>
    <div *ngIf="errors['maxlength'] as maxLengthError">
        Die Eingabe darf höchstens {{ maxLengthError.requiredLength }} Zeichen
        lang sein. Es sind
        {{ maxLengthError.actualLength - maxLengthError.requiredLength }}
        Zeichen zu viel.
    </div>
    <div *ngIf="errors['pattern'] as patternError">
        Die Eingabe entspricht nicht dem Muster:
        <span class="font-monospace"> {{ patternError.requiredPattern }} </span
        >.
    </div>
    <div *ngIf="errors['email'] as emailError">
        Die Eingabe ist keine valide E-Mail-Adresse.
    </div>
    <div *ngIf="errors['min'] as minError">
        Die Eingabe muss mindestens {{ minError.min }} sein.
    </div>
    <div *ngIf="errors['max'] as maxError">
        Die Eingabe darf höchstens {{ maxError.max }} sein.
    </div>
    <div *ngIf="errors['onlyNumbers'] as maxError">
        Die Eingabe darf nur Zahlen enthalten.
    </div>
    <div *ngIf="errors['integer'] as maxError">
        Die Eingabe muss eine ganze Zahl sein.
    </div>
    <div *ngIf="errors['url'] as maxError">
        Die Eingabe ist keine valide URL.
    </div>
    <div *ngIf="errors['exactMatch'] as exactMatchError">
        Die Eingabe entspricht nicht
        <span class="font-monospace">{{ exactMatchError.stringToMatch }}</span
        >.
    </div>
    <div *ngIf="errors['exerciseExists'] as exerciseExistsError">
        Es existiert keine Übung mit der Id
        <span class="font-monospace">{{ exerciseExistsError.id }}</span
        >.
    </div>
    <div *ngIf="errors['imageExists'] as imageExistsError">
        Kein Bild gefunden<ng-container *ngIf="imageExistsError.error">
            (<span class="font-monospace">{{ imageExistsError.error }}</span
            >) </ng-container
        >.
    </div>
    <div *ngIf="errors['joinUrlOrId']">
        Die Eingabe muss eine gültige Übungs-ID (6-8 Ziffern) oder Beitrittslink
        sein.
    </div>
</div>
