<div class="container">
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-1">Seite nicht gefunden!</h1>
        <p class="lead">Fehler 404</p>
        <hr class="my-1" />
        Die Seite konnte nicht gefunden werden. Bitte laden Sie die Seite
        erneut. Kontaktieren Sie den Support, falls dieses Problem bestehen
        bleibt. Sie können ihren Zurück-Knopf im Browser verwenden, um zur
        vorherigen Seite zurück zu navigieren oder drücken Sie den Knopf unter
        diesem Text, um zur Startseite zu gelangen. <br />
        <br />
        <button class="btn btn-primary btn-lg" routerLink="/">
            Startseite
        </button>

        <div class="mt-4">
            <app-footer />
        </div>
    </div>
</div>
