<div class="card">
    <h5 class="card-header">Alarmieren</h5>

    <div *ngIf="alarmGroups$ | async | values as alarmGroups" class="card-body">
        <div
            *appLet="
                transferPoints$
                    | async
                    | values
                    | orderBy : getTransferPointOrderByValue as transferPoints
            "
            class="d-flex flex-row justify-content-end"
        >
            <div
                ngbDropdown
                class="input-group input-group-sm"
                style="max-width: 300px; width: unset"
            >
                <span class="input-group-text">Ziel:</span>
                <button
                    ngbDropdownToggle
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    data-cy="sendAlarmGroupChooseTargetButton"
                    [disabled]="transferPoints.length === 0"
                >
                    <app-transfer-point-name
                        *ngIf="
                            targetTransferPointId;
                            else noTargetTransferPoint
                        "
                        [transferPointId]="targetTransferPointId"
                    >
                    </app-transfer-point-name>
                    <ng-template #noTargetTransferPoint>
                        <span class="text-muted"> Kein Ziel ausgewählt </span>
                    </ng-template>
                </button>
                <div ngbDropdownMenu>
                    <button
                        ngbDropdownItem
                        (click)="targetTransferPointId = undefined"
                        type="button"
                        class="btn btn-primary"
                        *ngIf="targetTransferPointId !== undefined"
                    >
                        Kein Ziel
                    </button>
                    <ng-container
                        *ngFor="
                            let transferPoint of transferPoints;
                            trackBy: 'id' | appTrackByProperty : transferPoints
                        "
                    >
                        <button
                            ngbDropdownItem
                            (click)="targetTransferPointId = transferPoint.id"
                            type="button"
                            class="btn btn-primary"
                            data-cy="sendAlarmGroupChooseTargetSelect"
                            *ngIf="targetTransferPointId !== transferPoint.id"
                        >
                            <app-transfer-point-name
                                [transferPointId]="transferPoint.id"
                            >
                            </app-transfer-point-name>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div
                ngbDropdown
                class="input-group input-group-sm ms-2"
                style="max-width: 500px; width: unset"
            >
                <span class="input-group-text">Ziel der ersten</span>
                <input
                    [(ngModel)]="firstVehiclesToOtherLocationCount"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control form-control-sm no-validation"
                    style="width: 75px"
                />
                <span class="input-group-text">Fahrzeuge:</span>
                <button
                    ngbDropdownToggle
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    [disabled]="transferPoints.length === 0"
                >
                    <app-transfer-point-name
                        *ngIf="
                            firstVehiclesToOtherLocationTransferPointId;
                            else noTargetTransferPoint
                        "
                        [transferPointId]="
                            firstVehiclesToOtherLocationTransferPointId
                        "
                    >
                    </app-transfer-point-name>
                    <ng-template #noTargetTransferPoint>
                        <span class="text-muted"> Kein Ziel ausgewählt </span>
                    </ng-template>
                </button>
                <div ngbDropdownMenu>
                    <button
                        ngbDropdownItem
                        (click)="
                            firstVehiclesToOtherLocationTransferPointId =
                                undefined
                        "
                        type="button"
                        class="btn btn-primary"
                        *ngIf="
                            firstVehiclesToOtherLocationTransferPointId !==
                            undefined
                        "
                    >
                        Kein Ziel
                    </button>
                    <ng-container
                        *ngFor="
                            let transferPoint of transferPoints;
                            trackBy: 'id' | appTrackByProperty : transferPoints
                        "
                    >
                        <button
                            ngbDropdownItem
                            (click)="
                                firstVehiclesToOtherLocationTransferPointId =
                                    transferPoint.id
                            "
                            type="button"
                            class="btn btn-primary"
                            *ngIf="
                                targetTransferPointId !== transferPoint.id &&
                                firstVehiclesToOtherLocationTransferPointId !==
                                    transferPoint.id
                            "
                        >
                            <app-transfer-point-name
                                [transferPointId]="transferPoint.id"
                            >
                            </app-transfer-point-name>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <div *ngIf="!targetTransferPointId" class="text-danger">
                Bitte wählen Sie zuerst ein Ziel aus.
            </div>
            <div
                *ngIf="
                    targetTransferPointId &&
                    !firstVehiclesToOtherLocationTransferPointId &&
                    firstVehiclesToOtherLocationCount > 0
                "
                class="text-warning"
            >
                Ohne ein zweites Ziel können die ersten Fahrzeuge kein anderes
                Ziel anfahren.
            </div>
        </div>

        <div class="mt-2">
            <button
                *ngFor="
                    let alarmGroup of alarmGroups;
                    trackBy: 'id' | appTrackByProperty : alarmGroups
                "
                [disabled]="!targetTransferPointId"
                (click)="sendAlarmGroup(alarmGroup)"
                class="btn btn-primary m-2"
                data-cy="sendAlarmGroupSendButton"
            >
                {{ alarmGroup.name }}
            </button>
            <div *ngIf="alarmGroups.length <= 0" class="text-muted">
                Es sind keine Alarmierungsgruppen vorhanden.
            </div>
        </div>
    </div>
</div>
