<div>
    <button class="btn btn-primary" type="button" (click)="collapse.toggle()">
        Alarmierungsgruppen entsenden
    </button>
    Ziel:
    <div ngbDropdown autoClose="outside" class="d-inline-block">
        <button
            ngbDropdownToggle
            type="button"
            class="btn btn-outline-primary ms-3"
        >
            {{ targetName }}
        </button>
        <div ngbDropdownMenu>
            <button
                *ngFor="
                    let transferPoint of transferPoints$ | async | keyvalue;
                    trackBy: 'key' | appTrackByProperty
                "
                ngbDropdownItem
                (click)="setTargetTransferPoint(transferPoint.value)"
                type="button"
                class="btn"
            >
                <app-transfer-point-name
                    [transferPointId]="transferPoint.value.id"
                >
                </app-transfer-point-name>
            </button>
        </div>
    </div>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div *ngIf="alarmGroups$ | async | values as alarmGroups">
            <div *ngIf="alarmGroups.length > 0; else noAlarmGroups">
                <div *ngIf="targetTransferPoint; else noTargetTransferPoint">
                    <div
                        *ngFor="
                            let alarmGroup of alarmGroups;
                            trackBy: 'key' | appTrackByProperty
                        "
                        class="btn btn-primary"
                        (click)="sendAlarmGroup(alarmGroup.id)"
                    >
                        {{ alarmGroup.name }}
                    </div>
                </div>
                <ng-template #noTargetTransferPoint>
                    <div class="text-muted mt-3 mb-3">
                        Es ist kein Ziel ausgewählt.
                    </div>
                </ng-template>
            </div>

            <ng-template #noAlarmGroups>
                <div class="text-muted mt-3 mb-3">
                    Es sind noch keine Alarmierungsgruppen registriert.
                </div>
            </ng-template>
        </div>
    </div>
</div>
