<ng-container *ngIf="alarmGroups$ | async | values as alarmGroups">
    <div
        *appLet="
            transferPoints$
                | async
                | values
                | orderBy: getTransferPointOrderByValue as transferPoints
        "
        class="d-flex flex-row justify-content-end"
    >
        <div
            ngbDropdown
            class="input-group input-group-sm"
            style="max-width: 300px; width: unset"
        >
            <span class="input-group-text">Ziel:</span>
            <app-transfer-target-dropdown
                [(selectedTransferPointId)]="targetTransferPointId"
            />
        </div>
        <div
            ngbDropdown
            class="input-group input-group-sm ms-2"
            style="max-width: 500px; width: unset"
        >
            <span class="input-group-text">Ziel der ersten</span>
            <input
                [(ngModel)]="firstVehiclesCount"
                type="number"
                min="0"
                step="1"
                class="form-control form-control-sm no-validation"
                style="width: 75px"
            />
            <span class="input-group-text">Fahrzeuge:</span>
            <app-transfer-target-dropdown
                [(selectedTransferPointId)]="firstVehiclesTargetTransferPointId"
            />
        </div>
    </div>

    <div class="mt-2">
        <div *ngIf="!targetTransferPointId" class="text-danger">
            Bitte wählen Sie zuerst ein Ziel aus.
        </div>
        <div
            *ngIf="
                targetTransferPointId &&
                !firstVehiclesTargetTransferPointId &&
                firstVehiclesCount > 0
            "
            class="text-warning"
        >
            Ohne ein zweites Ziel können die ersten Fahrzeuge kein anderes Ziel
            anfahren. Sie werden stattdessen das erste Ziel anfahren.
        </div>
    </div>

    <div class="mt-2">
        <button
            *ngFor="
                let alarmGroup of alarmGroups;
                trackBy: 'id' | appTrackByProperty: alarmGroups
            "
            [disabled]="!targetTransferPointId"
            (click)="sendAlarmGroup(alarmGroup)"
            class="btn btn-primary m-2"
            data-cy="sendAlarmGroupSendButton"
        >
            {{ alarmGroup.name }}
        </button>
        <div *ngIf="alarmGroups.length <= 0" class="text-muted">
            Es sind keine Alarmierungsgruppen vorhanden.
        </div>
    </div>
</ng-container>
