<ng-container *ngIf="viewport$ | async as viewport">
    <h5 class="popover-header">
        Ansicht {{ viewport.name }}
        <button
            (click)="closePopup.emit()"
            type="button"
            class="btn-close float-end"
        ></button>
    </h5>
    <div class="popover-body" style="width: 350px; height: 400px">
        <ng-container *ngIf="(apiService.currentRole$ | async) === 'trainer'">
            <div class="card">
                <div class="card-header">Allgemeine Einstellungen</div>
                <div class="card-body">
                    <div class="form-group pb-3">
                        <label class="form-label">Name</label>
                        <input
                            #nameInput="ngModel"
                            [(ngModel)]="name"
                            required
                            type="text"
                            class="form-control"
                        />
                        <app-display-validation
                            [ngModelInput]="nameInput"
                        ></app-display-validation>
                    </div>

                    <button
                        [disabled]="nameInput.invalid"
                        (click)="saveName()"
                        class="btn btn-warning"
                    >
                        Speichern
                    </button>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Automatisierung</div>
                <div class="card-body">
                    Diese Ansicht automatisieren
                    <div class="form-switch">
                        <input
                            [ngModel]="viewport.isAutomaticPatientField"
                            (ngModelChange)="changeAutomation($event)"
                            class="form-check-input"
                            type="checkbox"
                        />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
