name: Complete pipeline

on:
    push:
    pull_request:
        types:
            - ready_for_review

concurrency:
    group: ci-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        timeout-minutes: 5
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                # As the CI seems to have high run times, limit it to ubuntu-latest
                # os: [ubuntu-latest, windows-latest, macos-latest]
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Cache node modules and shared/dist
              id: cache-node-modules
              uses: ./.github/actions/cache-node-modules
            - name: Setup project
              if: ${{ steps.cache-node-modules.outputs.cache-hit != 'true' }}
              run: npm run setup:ci
            - name: Build shared
              run: cd shared && npm run build && cd ..

    lint:
        timeout-minutes: 3
        runs-on: ${{ matrix.os }}

        needs: build

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Cache node modules and shared/dist
              uses: ./.github/actions/cache-node-modules
            - name: Run ESLint
              run: npm run lint
            - name: Run Prettier
              if: always()
              run: npm run prettier:check

    dependencies:
        timeout-minutes: 10
        runs-on: ${{ matrix.os }}

        needs: build

        continue-on-error: true

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Cache node modules and shared/dist
              uses: ./.github/actions/cache-node-modules
            - name: Audit root
              if: always()
              run: npm audit
            - name: Audit shared
              if: always()
              run: cd shared; npm audit; cd ..
            - name: Audit frontend
              if: always()
              run: cd frontend; npm audit; cd ..
            - name: Audit backend
              if: always()
              run: cd backend; npm audit; cd ..

    test:
        timeout-minutes: 4
        runs-on: ${{ matrix.os }}

        needs: build

        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
                    POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
                    POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
                ports:
                    - 5432:5432
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        strategy:
            matrix:
                # As the CI seems to have high run times, limit it to ubuntu-latest
                # os: [ubuntu-latest, windows-latest, macos-latest]
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Cache node modules and shared/dist
              uses: ./.github/actions/cache-node-modules
            - name: Create .env
              run: >
                  cat ./.env.example
                  | sed -e "s/^DFM_DB_USER=.*$/DFM_DB_USER=${{ secrets.POSTGRES_USER }}/"
                  | sed -e "s/^#DFM_DB_PASSWORD=.*$/DFM_DB_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}/"
                  | sed -e "s/^DFM_DB_NAME=.*$/DFM_DB_NAME=${{ secrets.POSTGRES_DB }}/"
                  | sed -e "s/^DFM_DB_HOST=.*$/DFM_DB_HOST=127.0.0.1/" > ./.env
            - name: Run migrations
              run: cd backend && npm run migration:run && cd ..
            - name: Run Backend Tests
              run: cd backend && npm run test:ci; cd ..
              if: always()
            - name: Run Frontend Tests
              run: cd frontend && npm run test:ci; cd ..
              if: always()
            - name: Run Shared Tests
              run: cd shared && npm run test:ci; cd ..
              if: always()
            - name: Merge coverage
              run: npm run merge-coverage
              if: always()
            - name: Upload coverage
              uses: actions/upload-artifact@v3
              if: always()
              with:
                  name: coverage-output
                  path: coverage

    cypress:
        timeout-minutes: 20
        runs-on: ${{ matrix.os }}

        needs: build

        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
                    POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
                    POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
                ports:
                    - 5432:5432
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5

        strategy:
            matrix:
                os: [ubuntu-latest]
                browser: [firefox, chromium]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
              with:
                  lfs: 'true'
            - uses: actions/setup-node@v3
              with:
                  node-version: '18'
            - name: Cache node modules and shared/dist
              uses: ./.github/actions/cache-node-modules
            - name: Cache Cypress binary
              uses: actions/cache@v3
              id: cache-cypress
              with:
                  path: ~/.cache/Cypress
                  key: cypress-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('package-lock.json') }}
            - name: Install Cypress
              if: steps.cache-cypress.outputs.cache-hit != 'true'
              run: npm run cy:install
            - name: Create .env
              run: >
                  cat ./.env.example
                  | sed -e "s/^DFM_DB_USER=.*$/DFM_DB_USER=${{ secrets.POSTGRES_USER }}/"
                  | sed -e "s/^#DFM_DB_PASSWORD=.*$/DFM_DB_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}/"
                  | sed -e "s/^DFM_DB_NAME=.*$/DFM_DB_NAME=${{ secrets.POSTGRES_DB }}/"
                  | sed -e "s/^DFM_DB_HOST=.*$/DFM_DB_HOST=127.0.0.1/" > ./.env
            - name: Run migrations
              run: cd backend && npm run migration:run && cd ..
            - name: Run Cypress
              uses: cypress-io/github-action@v5
              with:
                  start: npm --prefix .. -- run start:all
                  working-directory: frontend
                  browser: ${{ matrix.browser }}
                  wait-on: 'http://127.0.0.1:4200/, http://127.0.0.1:3201/api/health'
                  command-prefix: '--' # So cypress is using our node version: https://github.com/cypress-io/github-action/issues/489#issuecomment-1021379037
            # - name: Archive cypress videos
            #   if: always()
            #   uses: actions/upload-artifact@v3
            #   with:
            #       name: cypress-videos-${{ matrix.browser }}
            #       path: frontend/cypress/videos
            - name: Archive cypress screenshots
              if: always()
              uses: actions/upload-artifact@v3
              with:
                  name: cypress-screenshots-${{ matrix.browser }}
                  path: frontend/cypress/screenshots

    # Dummy step to gate until all test are complete
    tests-done:
        needs:
            - test
            - cypress
            - lint
            - dependencies
        runs-on: ubuntu-latest
        steps:
            - run: 'true'

    deploy-dev:
        timeout-minutes: 10
        runs-on: ubuntu-latest

        needs: tests-done

        if: github.ref == 'refs/heads/dev'

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
              with:
                  lfs: 'true'
            - name: checkoutLFS
              uses: actions/checkout@v3
            - run: git lfs pull
            # Source: https://docs.docker.com/ci-cd/github-actions/
            - name: Login to docker
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  context: .
                  file: docker/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/dfm:dev

    deploy-main:
        timeout-minutes: 10
        runs-on: ubuntu-latest

        needs: tests-done

        if: github.ref == 'refs/heads/main'

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v3
              with:
                  lfs: 'true'
            - name: checkoutLFS
              uses: actions/checkout@v3
            - name: Extract version
              run: |
                  versionName=`jq -jM .version package.json`
                  echo "version_name=$versionName" >> "$GITHUB_ENV"
            - run: git lfs pull
            # Source: https://docs.docker.com/ci-cd/github-actions/
            - name: Login to docker
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  context: .
                  file: docker/Dockerfile
                  push: true
                  tags: >
                      ${{ secrets.DOCKER_HUB_USERNAME }}/dfm:latest ,
                      ${{ secrets.DOCKER_HUB_USERNAME }}/dfm:${{ env.version_name }}

    release-main:
        timeout-minutes: 2
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        needs: tests-done
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v3
            - name: Initialize mandatory git config
              run: |
                  git config user.name "GitHub Actions"
                  git config user.email noreply@github.com
            - name: Extract version
              run: |
                  versionName=`jq -jM .version package.json`
                  echo "VERSION_NAME=$versionName" >> "$GITHUB_ENV"
            - name: Extract release notes
              id: extract_release_notes
              uses: ffurrer2/extract-release-notes@v1
            - name: Create Release
              run: >
                  gh release create "v${{ env.VERSION_NAME }}"
                  --title "v${{ env.VERSION_NAME }}"
                  --notes "${{ steps.extract_release_notes.outputs.release_notes }}"
                  --target "main"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
