name: Complete pipeline

on: push

jobs:
    build:
        timeout-minutes: 10
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                # As the CI seems to have high run times, limit it to ubuntu-latest
                # os: [ubuntu-latest, windows-latest, macos-latest]
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache-node-modules
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                      shared/node_modules
                      frontend/node_modules
                      backend/node_modules
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('package-lock.json') }}
            - name: Cache shared/dist
              uses: actions/cache@v2
              id: cache-shared-dist
              env:
                  cache-name: cache-shared-dist
              with:
                  path: shared/dist
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('shared/src/**') }}
            - name: Setup project
              if: steps.cache-node-modules.outputs.cache-hit != 'true'
              run: npm run setup:ci
            - name: Build shared
              run: cd shared && npm run build && cd ..
    lint:
        timeout-minutes: 10
        runs-on: ${{ matrix.os }}

        needs: build

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache-node-modules
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                      shared/node_modules
                      frontend/node_modules
                      backend/node_modules
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('package-lock.json') }}
            - name: Cache shared/dist
              uses: actions/cache@v2
              id: cache-shared-dist
              env:
                  cache-name: cache-shared-dist
              with:
                  path: shared/dist
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('shared/src/**') }}
            - name: Run ESLint
              run: npm run lint
            - name: Run Prettier
              run: npm run prettier:check
    dependencies:
        timeout-minutes: 10
        runs-on: ${{ matrix.os }}

        needs: build

        continue-on-error: true

        strategy:
            matrix:
                os: [ubuntu-latest]
            fail-fast: false

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache-node-modules
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                      shared/node_modules
                      frontend/node_modules
                      backend/node_modules
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('package-lock.json') }}
            - name: Cache shared/dist
              uses: actions/cache@v2
              id: cache-shared-dist
              env:
                  cache-name: cache-shared-dist
              with:
                  path: shared/dist
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('shared/src/**') }}
            - name: Audit root
              if: always()
              run: npm audit || echo "Some dummy output to make the job pass"
            - name: Audit shared
              if: always()
              run: cd shared; npm audit || echo "Some dummy output to make the job pass"; cd ..
            - name: Audit frontend
              if: always()
              run: cd frontend; npm audit || echo "Some dummy output to make the job pass"; cd ..
            - name: Audit backend
              if: always()
              run: cd backend; npm audit || echo "Some dummy output to make the job pass"; cd ..
    test:
        timeout-minutes: 10
        runs-on: ${{ matrix.os }}

        needs: build

        strategy:
            matrix:
                # As the CI seems to have high run times, limit it to ubuntu-latest
                # os: [ubuntu-latest, windows-latest, macos-latest]
                os: [ubuntu-latest]
                environment: [shared, frontend, backend]
            fail-fast: false

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - name: Cache node modules
              uses: actions/cache@v2
              id: cache-node-modules
              env:
                  cache-name: cache-node-modules
              with:
                  path: |
                      node_modules
                      shared/node_modules
                      frontend/node_modules
                      backend/node_modules
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('package-lock.json') }}
            - name: Cache shared/dist
              uses: actions/cache@v2
              id: cache-shared-dist
              env:
                  cache-name: cache-shared-dist
              with:
                  path: shared/dist
                  key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('shared/src/**') }}
            - name: Run Tests
              run: cd ${{ matrix.environment }} && npm run test:ci
