<div class="container">
    <h1>Digitale FüSim MANV</h1>
    <br />
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="display-6">Übung beitreten</div>
        <p>
            Bitte geben Sie hier Ihre von der Übungsleitung erhaltene Übungs-ID
            ein!
        </p>
        <div class="input-group">
            <input
                [(ngModel)]="exerciseId"
                [appAutofocus]="true"
                (keydown.enter)="joinExercise()"
                [minlength]="6"
                [maxlength]="8"
                required
                appOnlyNumbersValidator
                appExerciseExistsValidator
                class="form-control form-control-lg"
                placeholder="Übungs-ID"
                type="text"
                data-cy="exerciseIdInput"
                #exerciseIdInput="ngModel"
            />
            <button
                (click)="joinExercise()"
                [disabled]="exerciseIdInput.invalid"
                class="btn btn-primary"
                type="button"
                data-cy="joinExerciseButton"
            >
                Übung beitreten
            </button>
        </div>
        <app-display-validation
            [ngModelInput]="exerciseIdInput"
        ></app-display-validation>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="display-6">Neue Übung erstellen</div>
        <br />
        <button
            (click)="createExercise()"
            class="btn btn-primary btn-lg mb-3"
            data-cy="createExerciseButton"
        >
            Übung erstellen
        </button>

        <p *ngIf="exerciseHasBeenCreated" class="mb-0">
            Sie haben eine Übung mit der Übungsleitungs-ID
            <span class="font-monospace fw-bolder user-select-all">{{
                trainerId
            }}</span>
            und der Teilnehmer-ID
            <span class="font-monospace fw-bolder user-select-all">{{
                participantId
            }}</span>
            erstellt.
        </p>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="display-6">Hinweise/Informationen</div>
        <br />
        <p>
            Bitte beachten Sie, dass diese Webseite sich noch in Entwicklung
            befindet. Es ist daher jederzeit möglich, dass sich Funktionen
            grundlegend ändern, oder die Webseite zeitweise nicht erreichbar
            ist. Insbesondere ist zu erwarten, dass exportierte Daten in Zukunft
            nicht mehr genutzt werden können.
        </p>
        <p>
            Weitere Informationen zu dieser Seite finden sie auf der
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://hpi.de/teaching/bachelor-projects/digitales-fuehrungssimulationstraining.html"
                >Projektwebseite</a
            >.
        </p>
    </div>
</div>
