<div class="container">
    <h1>Digitale FüSim MANV</h1>
    <br />
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="display-6">Übung beitreten</div>
        <p>
            Bitte geben Sie hier Ihre von der Übungsleitung erhaltene Übungs-ID
            ein!
        </p>
        <div class="input-group">
            <input
                [(ngModel)]="exerciseId"
                [appAutofocus]="true"
                (keydown.enter)="joinExercise()"
                [minlength]="6"
                [maxlength]="8"
                required
                appOnlyNumbersValidator
                appExerciseExistsValidator
                class="form-control form-control-lg"
                placeholder="Übungs-ID"
                type="text"
                data-cy="exerciseIdInput"
                #exerciseIdInput="ngModel"
            />
            <button
                (click)="joinExercise()"
                [disabled]="exerciseIdInput.invalid"
                class="btn btn-primary"
                type="button"
                data-cy="joinExerciseButton"
            >
                Übung beitreten
            </button>
        </div>
        <app-display-validation
            [ngModelInput]="exerciseIdInput"
        ></app-display-validation>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="display-6">Neue Übung erstellen</div>
        <br />
        <div class="mb-3">
            <button
                (click)="createExercise()"
                class="btn btn-primary btn-lg"
                data-cy="createExerciseButton"
            >
                Übung erstellen
            </button>
            <label
                class="btn btn-outline-primary btn-lg ms-5"
                [class.disabled]="importingExercise"
            >
                <i class="bi-cloud-upload me-2"> </i>
                Übung importieren
                <span
                    *ngIf="importingExercise"
                    class="spinner-border spinner-border-sm"
                ></span>
                <input
                    (input)="importExerciseState($any($event.target).files)"
                    type="file"
                    accept="application/json"
                    class="d-none"
                    [disabled]="importingExercise"
                />
            </label>
        </div>

        <p *ngIf="exerciseHasBeenCreated" class="mb-0">
            Sie haben eine Übung mit der Übungsleitungs-ID
            <span class="font-monospace fw-bolder user-select-all">{{
                trainerId
            }}</span>
            und der Teilnehmer-ID
            <span class="font-monospace fw-bolder user-select-all">{{
                participantId
            }}</span>
            erstellt.
        </p>
    </div>
</div>
